{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}
    <meta name="description" content="">
    <meta name="title" content="">

    <meta property="og:title" content="Formez-vous, construisez votre maison, devenez indépendant">
    <meta property="og:site_name" content="Michael Ballot">
    <meta property="og:url" content="https://michaelballot.fr">
    <meta property="og:description" content="">
    <meta property="og:type" content="product.item">
    <meta property="og:image" content="{{ asset('build/images/og/1.jpg') }}">

{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO SECTION #}
    <header x-data="{ open: false }" class="bg-cover bg-no-repeat border-black bg-gray-900 bg-7">
        <div class="w-full z-0 h-full bg-gray-900 bg-opacity-70">
            <div class=" max-w-7xl z-10 px-4 py-32 px-8 mx-auto ">
                <div class="flex flex-wrap items-center -mx-3">
                    <div class="w-full lg:w-1/2 px-3">
                        <div class="py-12">
                            <div data-aos="fade-right"
                                 class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                                <nav class="lg:flex hidden mb-10 w-auto font-raleway mx-auto text-center text-gray-100 opacity-50"
                                     aria-label="Breadcrumb">
                                    <ol class="flex items-center mx-auto space-x-4">
                                        <li>
                                            <div>
                                                <a href="{{ path('homepage') }}" class="hover:text-gray-300">
                                                    <!-- Heroicon name: solid/home -->
                                                    <svg class="flex-shrink-0 h-5 w-5"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
                                                    </svg>
                                                    <span class="sr-only">Accueil</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-center">
                                                <!-- Heroicon name: solid/chevron-right -->
                                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                                <a href="{{ path('formations') }}"
                                                   class="ml-4 text-sm font-light hover:text-gray-300">Formations</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-center">
                                                <!-- Heroicon name: solid/chevron-right -->
                                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                                <a href="{{ path('immeuble') }}" aria-current="page"
                                                   class="ml-4 text-sm font-light hover:text-gray-300">Investir dans un
                                                    immeuble de rapport</a>
                                            </div>
                                        </li>
                                    </ol>
                                </nav>

                                <h1 class="title-1 text-white">
                                    Achetez votre premier immeuble
                                </h1>
                                <p class="body-1 mt-12 text-white">Acheter un immeuble et rentabiliser cet
                                    investissement en moins d’un an est possible. Formez-vous et maitrisez l’ensemble
                                    des techniques pour réaliser une opération avec un fort retour sur
                                    investissement.</p>
                            </div>
                        </div>
                    </div>


                    <div data-aos="fade-left" class="w-full rounded relative lg:w-1/2 px-3 mb-12 lg:mb-0">
                        <img class="lg:h-128 rounded mx-auto flex items-center justify-center"
                             src="{{ asset ('build/images/miniatureVideo/4.webp') }}"
                             alt="Michael Ballot présente la formation d'immobilier d'investissement : Investir dans un immeuble de rapport">
                        <div class="absolute  inset-0 flex items-center justify-center">
                            <button @click="open = true"
                                    class="js-play flex bg-opacity-90 items-center justify-center bg-gray-900 text-white p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                     viewBox="0 0 140 140" width="12" height="12">
                                    <g transform="matrix(14,0,0,14,0,0)">
                                        <path d="M8.266,3.563,3.7.316h0A1.686,1.686,0,0,0,1.916.2,1.754,1.754,0,0,0,1,1.753V8.247A1.753,1.753,0,0,0,1.916,9.8,1.687,1.687,0,0,0,3.7,9.685L8.266,6.438a1.775,1.775,0,0,0,0-2.875Z"
                                              fill="currentColor" stroke="none" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="0"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="fixed z-50 top-0 left-0 flex items-center justify-center w-screen h-screen"
                         x-show="open" x-cloak>
                        <div class="w-screen js-pause absolute z-40 h-screen flex-none top-0 bg-gray-900 bg-opacity-90"
                             @click="open = false"></div>

                        <!-- A basic modal dialog with title, body and one button to close -->
                        <div class="h-auto w-full p-4 mx-2 z-50 text-left bg-white rounded shadow-xl md:max-w-xl md:p-6 lg:p-8 md:mx-0">

                            <div class="container">
                                <div class="plyr__video-embed" id="player" class="rounded-sm">
                                    <iframe  width="1154" height="649" src="https://www.youtube.com/embed/rAx04_G8TLk"
                                             frameborder="0"
                                             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                             allowfullscreen></iframe>
                                    <!-- Fallback for browsers that don't support the <video> element -->
                                    <a href="https://youtu.be/rAx04_G8TLk"
                                       download>Voir la vidéo sur Youtube</a>
                                </div>
                            </div>
                            <!-- Plyr resources and browser polyfills are specified in the pen settings -->


                            <!-- One big close button.  --->
                            <div class="mt-5 sm:mt-6">
                    <span class="flex js-pause2 w-full shadow-sm">
                      <button @click="open = false"
                              class="btn-1 text-white bg-gray-900 hover:bg-gray-700">
                        Fermer la vidéo
                      </button>
                    </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>

    {# INTRODUCTION #}
    <section class="w-full py-24">

        <div class="md:py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-2xl mx-auto text-center">
                    <h2 class="title-1">Un meilleur investissement que l'immobilier traditionnel</h2>
                    <p class="body-2 m-6">L'immeuble de rapport est un investissement immobilier, dont la particularité
                        est d'être un habitat collectif détenu par un unique propriétaire. C’est un modèle économique
                        qui permet à l’investisseur de faire des économies d’échelle et de maximiser ses rendements à la
                        location ou la revente.
                    </p>
                </div>
            </div>
        </div>
    </section>



    {# CARD FORMATION #}
    <section class="bg-gradient-to-b from-gray-50 w-full pb-24 ">
        <div class="max-w-4xl px-8 mx-auto">

            <div data-aos="fade-up" class="w-full p-6 bg-white shadow-lg  hover:shadow-sm transition-all duration-300 grid grid-cols-1 md:grid-cols-3 items-center justify-items-center">
                <div class="w-full  max-w-sm md:col-span-1">
                    <a href="https://formation.michaelballot.fr/commande-immeuble-de-rapport/">
                        <img class="w-full  shadow-sm mx-auto mb-8 md:mb-0 h-auto"
                                src="{{ asset('build/images/main/formation-achat-immeuble.webp') }}" alt="Affiche de la formations immobilière : Investir dans un immeuble de rapport"></a>
                </div>
                <div class="w-full col-span-2 text-left grid justify-self-end justify-items-center">
                    <div class="max-w-sm mx-auto mb-4">
                        <h2 class="subtitle-2">Formation en ligne</h2>
                        <h3 class="title-2">Investir dans un immeuble de rapport</h3>

                        <p class="body-2 mt-5">Réalisez votre premier achat d’immeuble de rapport. De la recherche du
                            bien à la location ou la vente des lots.</p>
                        <ul class="font-raleway mt-5 uppercase font-bold text-sm">
                            <li class="mb-1 flex items-center text-pink-600">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">7 modules</span>
                            </li>
                            <li class="mb-1 flex items-center text-pink-600">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">22 vidéos</span>
                            </li>
                            <li class="mb-1 flex items-center text-pink-600">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">accès illimité à vie</span>
                            </li>


                        </ul>
                        <div class="flex mt-2 items-center pb-5 border-b-2 border-gray-100 mb-5">
                        </div>
                        <div class="flex items-center">
                            <span class="title-font font-medium text-2xl text-gray-900">297,00 €</span>
                            <a class="ml-auto " href="https://formation.michaelballot.fr/commande-immeuble-de-rapport/">
                                <button class="btn-1  text-white hover:bg-gray-900 bg-pink-600">
                                    Acheter
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# BULLET POINTS #}
    {% include 'shared/_avantages.html.twig' %}


    {# DETAIL FORMATION #}
    <section class="bg-gray-100">
        <div class="py-20 my-12 max-w-5xl mx-auto  radius-for-skewed ">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center -mx-4">
                    <div data-aos="fade-left" class="w-full lg:order-1 lg:w-1/2">
                        <div class="mb-4 flex flex-wrap items-end">
                            <div class=" mb-4 lg:mb-0 w-full lg:w-2/3 px-3">
                                <img class=" w-full h-48 lg:h-32 lg:h-48 object-cover"
                                     src="{{ asset('build/images/formations/10.webp') }}"
                                     alt="Signature d'un acte sous seing auprès du notaire pour acheter un bien immobilier à l'investissement"></div>
                            <div class="w-full lg:w-1/3 px-3">
                                <img class=" w-full h-48 lg:h-32 object-cover"
                                     src="{{ asset('build/images/formations/11.webp') }}"
                                     alt="Mise en vente ou location d'un bien par un professionnel de l'immobilier d'investissement"></div>
                        </div>
                        <div class=" flex flex-wrap items-start">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/3 px-3">
                                <img class=" w-full h-48 lg:h-32 object-cover"
                                     src="{{ asset('build/images/formations/13.webp') }}"
                                     alt="Rencontre avec les artisans qui réaliseront votre chantier"></div>
                            <div class="w-full lg:w-2/3 px-3">
                                <img class="highline w-full h-48 lg:h-32 lg:h-48 object-cover"
                                     src="{{ asset('build/images/formations/9.webp') }}"
                                     alt="Calcul de la rentabilité d'un bien immobilier pour réaliser un investissement"></div>
                        </div>
                    </div>
                    <div data-aos="fade-right" class="mb-12 mt-8 lg:mt-0 lg:order-0 lg:mb-0 w-full lg:w-1/2 px-4">
                        <div class="max-w-md">
                            <span class="subtitle-2 inline-block">Contenu de la formation</span>
                            <h2 class="title-2 my-6">Une formation adaptée à vos objectifs</h2>

                            <ul class="font-raleway font-base text-gray-900 tracking-tight">
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Maîtriser les règles d'urbanisme</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Utiliser les leviers d'optimisation fiscale </span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Gérer son opération en toute autonomie</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Convaincre les banques</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Trouver des prestataires de confiance</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Etablir une étude de marché viable</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Négocier les prix et pérenniser son investissement</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Réduire au maximum les dépenses inutiles</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Trouver efficacement les locataires</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Maximiser son retour sur investissement</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {# LES SESSIONS #}
    <section class="max-w-5xl mx-auto">

        <div class="py-8 lg:py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto md:text-center">
                    <span class="subtitle-2 inline-block lg:mb-5">Les modules</span>
                    <h2 class="title-2">7 étapes pour réussir votre investissement</h2>
                </div>
            </div>
        </div>


        <div class="py-8 lg:py-20">
            <div class="container mx-auto px-4">
                <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-14 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6  ">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">1. Le choix du secteur</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Faites les bons choix dès le
                            démarrage du projet. Acheter un immeuble n’est pas une démarche habituelle et trouver les
                            bonnes offres demande une certaine connaissance du marché et des secteurs. Une bonne étude
                            de marché est un préalable à l’investissement et demande une préparation minutieuse.</p>

                    </div>
                </div>
                <div data-aos="fade-left" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-9 bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">2. Rentabiliser son projet</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Optimiser ses rendements et
                            s’assurer un cash-flow conséquent, c’est savoir négocier afin d’obtenir le meilleur prix
                            possible mais aussi
                            connaître la fiscalité et la législation française. Adaptez votre projet et rentabilisez vos
                            investissements.
                        </p>
                    </div>
                </div>

                <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-13 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6  ">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">3. Etablir le devis</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Faites intervenir des artisans et
                            les corps compétents dès que l’immeuble sera identifié. Ils établiront des devis concernant
                            la réfection de l’immeuble et des appartements. Cela permettra d’assurer vos arrières et de
                            parfaitement identifier les principaux postes de dépenses. Évitez les mauvaises surprises
                            qui pourraient détériorer vos retours sur investissements.</p>

                    </div>
                </div>
                <div data-aos="fade-left" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-10 bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">4. Se faire financer</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Sans financeur, pas de projet.
                            Lorsque
                            l’on fait une telle opération, la préparation est primordiale : le banquier souhaitera
                            identifier toutes
                            les failles envisageables afin de couvrir ses arrières. N’oubliez pas que la banque prend le
                            risque avec vous. Rassurez-la et montrez que vous êtes un partenaire de confiance, qui saura
                            prendre en main l’ensemble de l’opération. Décrochez le prêt qui permettra à vous et votre
                            financeur de gagner de l’argent.
                        </p>
                    </div>
                </div>

                <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-7 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6  ">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">5. Gérer les imprévus</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Aucun chantier n’est exempt
                            d’imprévus, de retards et/ou de dépassement de budget. Prévoir une marche de manœuvre c’est
                            savoir identifier les points critiques en amont (ou au moins à temps). Sécurisez votre
                            investissement en restant à l'affût des problèmes. Gérez les imprévus, et maximisez votre
                            cash-flow.</p>

                    </div>
                </div>
                <div data-aos="fade-left" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-5 bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">6. Choisir une fiscalité
                                adaptée</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Saviez-vous que les opérations de
                            ce
                            type bénéficiaient d’une fiscalité accommodante et d’une niche fiscale permettant
                            d’optimiser au
                            mieux son investissement. Maîtrisez chaque aspect relevant de l’imposition et de la taxation
                            de votre projet en faisant le bon montage fiscal et évitez les retours de bâtons
                            imprévus.
                        </p>
                    </div>
                </div>

                <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-11 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6  ">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">7. Mettre en location</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Trouvez les locataires, établissez
                            le montant des loyers, faites votre pub sur internet, définissez le montant des charges…
                            Mais surtout gagnez de l’argent sur ce projet. Assurez-vous un bon cash-flow et atteignez la
                            liberté financière grâce à 1 seul investissement immobilier.</p>

                    </div>
                </div>

            </div>
        </div>
    </section>

    {# QUI SUIS JE #}

    {% include 'shared/_aboutZone.html.twig' with {
        'aboutText' : "Je suis tombé dans l’immobilier il y a une dizaine d'années. Je
    rêvais, comme tous les français de m’installer dans ma propre maison avec ma
    famille. J’ai fait construire mon bien et je suis devenu propriétaire. J’ai rejoint
    les rangs d’un constructeur et ai depuis fait construire plus de 100 maisons
    individuelles. Cependant, cette expérience ne me semblait pas suffisante pour
    parfaitement appréhender les métiers de l’immobilier. J’ai donc entrepris d’investir
    dans de la pierre : maisons, appartements, immeubles…
    Ces derniers 18 mois j’ai investi dans 16 logements et je gagne près de 5000€ par
    mois sans rien faire. J’ai quitté mon travail et dorénavant je voyage avec ma
    famille et vis sans me soucier de l’argent. Cette vie me semblait inaccessible et
    pourtant, l’atteindre a été bien plus facile que je ne le pensais. Avec les bons
    outils et une motivation suffisante, on peut choisir son avenir et choisir de
    devenir qui on veut.
    Pourquoi pas vous ?"
    } %}


    {# FAQ #}
    <section x-data="{selected:null}">
        <div class="py-20 bg-gray-100 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="mb-16 max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5">FAQ</span>
                    <h2 class="mb-6 title-2">Questions fréquentes</h2>
                </div>
                <div class="max-w-3xl mx-auto">
                    <ul class="space-y-1 lg:space-y-6">
                        <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 1 ? selected = 1 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">À qui s'adresse cette formation ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 1 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'pt-6' : selected == 1 }">
                                Vous êtes un investisseur confirmé et vous recherchez à diversifier votre portefeuille
                                en réalisant une opération à forte valeur ajoutée</p>
                        </li>


                        <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 2 ? selected = 2 : selected = null">
                            <div class="w-full flex justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Si la formation ne me convient pas, puis-je me rétracter ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 2 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 2 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'pt-6' : selected == 2 }">
                                Oui ! Vous avez 15 jours pour changer d’avis. Aucune explication ne vous est demandée,
                                nous vous remboursons immédiatement. Parce que nous avons confiance en la qualité de nos
                                formations, nous vous permettons de vous rétracter à tout moment pendant 15 jours.</p>
                        </li>

                        <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 3 ? selected = 3 : selected = null">
                            <div class="w-full  flex justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Est-ce que je peux payer en plusieurs fois ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 3 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 3 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'pt-6' : selected == 3 }">
                                Oui, en fonction de la formation, vous pouvez avoir la possibilité de payer en 1, 3 ou 5
                                fois. Vous êtes alors débité chaque mois du montant indiqué lors de l’achat.
                        </li>

                        <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 4 ? selected = 4 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Quels sont les autres avantages de cette formation ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 4 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 4 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'pt-6' : selected == 4 }">
                                Avec la formation vous bénéficiez d’un accès à notre communauté d’investisseurs et aux
                                conseils d'experts afin d'être au fait de toutes les évolutions de la législation et des
                                obligations liées aux opérations de promotion immobilière. Vous bénéficiez aussi de
                                tarifs préférentiels pour nos autres formations ou pour participer à nos évènements
                                immobiliers.
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </section>





    {# ECHANGE TELEPHONIQUE #}
    {% include 'shared/_contact.html.twig' %}

    {# UPSELL #}
    {% include 'shared/_packFormations.html.twig' %}

    {# FIXED #}
    <div class="sticky bottom-0 inset-x-0 bg-gray-900 font-raleway bg-opacity-90 text-white">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="p-2  sm:p-3">
                <div class="flex items-center justify-stretch">
                    <div class="flex-1 flex items-center">
                  <span class="flex p-2">
                    297,00 €
                  </span>
                        <span class="hidden md:inline flex p-2"> | </span>
                        <p class="ml-3 font-semibold uppercase">
                        <span class="hidden md:inline">
                          Formation immeuble de rapport
                        </span>
                        </p>
                    </div>
                    <div class="order-3 mt-2 flex-shrink-0 sm:order-2 sm:mt-0 w-auto">
                        <a href="https://formation.michaelballot.fr/commande-immeuble-de-rapport/"
                           class=" text-white bg-pink-600 hover:bg-pink-700 btn-1 py-3">
                            Acheter
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </main>

{% endblock %}