{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}
    Construire la maison de ses rêves - Formation immo | Michael Ballot
{% endblock %}

{% block meta %}
    <meta name="description" content="Recherche de terrain, achat, construction, prêt bancaire, suivi de chantier, mise en conformité... Maîtrisez toutes les étapes de la construction de votre maison">
    <meta property="og:title" content="Construire la maison de ses rêves - Formation immo | Michael Ballot">
    <meta property="og:site_name" content="Michael Ballot">
    <meta property="og:url" content="https://www.michaelballot.fr/formations/construire-sa-maison">
    <meta property="og:description" content="Recherche de terrain, achat, construction, prêt bancaire, suivi de chantier, mise en conformité... Maîtrisez toutes les étapes de la construction de votre maison grâce à cette formation de 39 vidéos">
    <meta property="og:type" content="product.item">
    <meta property="og:image" content="{{ asset('build/images/og/2.png') }}">
{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO SECTION #}
    <header x-data="{ open: false }" class="bg-cover bg-no-repeat border-black bg-gray-900 bg-9">
        <div class="w-full z-0 h-full bg-gray-900 bg-opacity-70">
            <div class=" max-w-7xl z-10 px-4 py-32 px-8 mx-auto ">
                <div class="flex flex-wrap items-center -mx-3">
                    <div class="w-full lg:w-1/2 px-3">
                        <div class="py-12">
                            <div data-aos="fade-right"
                                 class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                                <nav class="lg:flex hidden mb-10 w-auto font-raleway mx-auto text-center text-gray-100 opacity-50"
                                     aria-label="Breadcrumb">
                                    <ol class="flex items-center mx-auto space-x-4">
                                        <li>
                                            <div>
                                                <a href="{{ path('homepage') }}" class="hover:text-gray-300">
                                                    <!-- Heroicon name: solid/home -->
                                                    <svg class="flex-shrink-0 h-5 w-5"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
                                                    </svg>
                                                    <span class="sr-only">Accueil</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-center">
                                                <!-- Heroicon name: solid/chevron-right -->
                                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                                <a href="{{ path('formations') }}"
                                                   class="ml-4 text-sm font-light hover:text-gray-300">Formations</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-center">
                                                <!-- Heroicon name: solid/chevron-right -->
                                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                                <a href="{{ path('immeuble') }}" aria-current="page"
                                                   class="ml-4 text-sm font-light hover:text-gray-300">Construire la
                                                    maison de ses rêves</a>
                                            </div>
                                        </li>
                                    </ol>
                                </nav>

                                <h1 class="title-1 text-white">
                                    Construisez seul(e) la maison de vos rêves
                                </h1>
                                <p class="body-1 mt-12 text-white">Avant de se lancer dans un projet de construction, il
                                    est essentiel de connaître les outils clés pour construire sa maison étape par
                                    étape. Je vous livre 9 techniques de pros pour faire construire la maison de vos
                                    rêves
                                    sans faire exploser votre budget.</p>
                            </div>
                        </div>
                    </div>


                    <div data-aos="fade-left" class="w-full rounded relative lg:w-1/2 px-3 mb-12 lg:mb-0">
                        <img class="lg:h-128 rounded mx-auto flex items-center justify-center"
                             src="{{ asset ('build/images/miniatureVideo/2.webp') }}"
                             alt="Michael Ballot présente la formation d'immobilier d'investissement : Construire sa maison en toute autonomie">
                        <div class="absolute  inset-0 flex items-center justify-center">
                            <button @click="open = true"
                                    class="js-play flex bg-opacity-90 items-center justify-center bg-gray-900 text-white p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                     viewBox="0 0 140 140" width="12" height="12">
                                    <g transform="matrix(14,0,0,14,0,0)">
                                        <path d="M8.266,3.563,3.7.316h0A1.686,1.686,0,0,0,1.916.2,1.754,1.754,0,0,0,1,1.753V8.247A1.753,1.753,0,0,0,1.916,9.8,1.687,1.687,0,0,0,3.7,9.685L8.266,6.438a1.775,1.775,0,0,0,0-2.875Z"
                                              fill="currentColor" stroke="none" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="0"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="fixed z-50 top-0 left-0 flex items-center justify-center w-screen h-screen"
                         x-show="open" x-cloak>
                        <div class="w-screen js-pause absolute z-40 h-screen flex-none top-0 bg-gray-900 bg-opacity-90"
                             @click="open = false"></div>

                        <!-- A basic modal dialog with title, body and one button to close -->
                        <div class="h-auto w-full p-4 mx-2 z-50 text-left bg-white rounded shadow-xl md:max-w-xl md:p-6 lg:p-8 md:mx-0">

                            <div class="container">
                                <div class="plyr__video-embed" id="player" class="rounded-sm">
                                    <iframe  width="1154" height="649" src="https://www.youtube.com/embed/rAx04_G8TLk"
                                             frameborder="0"
                                             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                             allowfullscreen></iframe>
                                    <!-- Fallback for browsers that don't support the <video> element -->
                                    <a href="https://youtu.be/rAx04_G8TLk"
                                       download>Voir la vidéo sur Youtube</a>
                                </div>
                            </div>
                            <!-- Plyr resources and browser polyfills are specified in the pen settings -->


                            <!-- One big close button.  --->
                            <div class="mt-5 sm:mt-6">
                    <span class="flex js-pause2 w-full shadow-sm">
                      <button @click="open = false"
                              class="btn-1 text-white bg-gray-900 hover:bg-gray-700">
                        Fermer la vidéo
                      </button>
                    </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>

        {# INTRODUCTION #}
        <section class="w-full pt-24 pb-12">

            <div class="md:pt-20 md:pb-6 radius-for-skewed">
                <div class="container mx-auto px-4">
                    <div class="max-w-2xl mx-auto text-center">
                        <h2 class="title-1">Lancez votre projet de construction</h2>
                        <p class="body-2 m-6">Téléchargez le guide gratuitement et découvrez les premières astuces pour
                            commencer à esquisser votre projet en toute autonomie !</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-40">
            <div>
                <div class="md:grid justify-items-center items-center max-w-3xl px-6 mx-auto">
                    <img class="w-full max-w-xs mx-auto md:mx-6 rounded-sm shadow-xl transform transition hover:scale-90 hover:shadow-md"
                         src="{{ asset('build/images/main/guide-de-la-construction.webp') }}" alt="Téléchargez le guide de la construction pour faire naître votre projet de maison familiale"/>
                    <a href="https://michaelballotformation.podia.com/guide-de-la-construction" target="_blank">
                        <button class="block my-6 btn-1 bg-gray-900 hover:bg-pink-600 text-white w-auto">
                            Recevoir le guide
                        </button>
                    </a>


                </div>
            </div>
        </section>

        {# BULLET POINTS #}
        {% include 'shared/_avantages.html.twig' %}

        {# CARD FORMATION #}
        <section class="bg-gradient-to-b from-gray-50 w-full py-24 mt-20">
            <div  class="max-w-4xl px-8 mx-auto">

                <div data-aos="fade-up" class="w-full p-6 bg-white shadow-lg  hover:shadow-sm transition-all duration-300 grid grid-cols-1 md:grid-cols-3 items-center justify-items-center">
                    <div class="w-full  max-w-sm md:col-span-1">
                        <a href="https://michaelballotformation.podia.com/construire-sa-maison-en-toute-autonomie">
                            <img
                                    class="w-full  shadow-sm mx-auto mb-8 md:mb-0 h-auto"
                                    src="{{ asset('build/images/main/formation-construire-sa-maison.webp') }}" alt="Affiche de la formations immobilière : Construire sa maison en toute autonomie"></a>
                    </div>
                    <div class="w-full col-span-2 text-left grid justify-self-end justify-items-center">
                        <div class="max-w-sm mx-auto mb-4">
                            <h2 class="subtitle-2">Formation en ligne</h2>
                            <h3 class="title-2">Construire sa maison seul(e)</h3>

                            <p class="body-2 mt-5">Prenez en main votre construction et maîtrisez vos chantiers de A à Z pour réussir votre investissement ou vous installer sereinement dans la maison de vos rêves.</p>
                            <ul class="font-raleway mt-5 uppercase font-bold text-sm">
                                <li class="mb-1 flex items-center text-pink-600">
                                    <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                        <circle cx="4" cy="4" r="3"/>
                                    </svg>
                                    <span class="">9 modules</span>
                                </li>
                                <li class="mb-1 flex items-center text-pink-600">
                                    <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                        <circle cx="4" cy="4" r="3"/>
                                    </svg>
                                    <span class="">39 vidéos</span>
                                </li>
                                <li class="mb-1 flex items-center text-pink-600">
                                    <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                        <circle cx="4" cy="4" r="3"/>
                                    </svg>
                                    <span class="">accès illimité à vie</span>
                                </li>

                            </ul>
                            <div class="flex mt-2 items-center pb-5 border-b-2 border-gray-100 mb-5">
                            </div>
                            <div class="flex items-center">
                                <span class="title-font font-medium text-2xl text-gray-900">497,00 €</span>
                                <a href="https://michaelballotformation.podia.com/construire-sa-maison-en-toute-autonomie"
                                   class="ml-auto">
                                    <button class="btn-1 text-white hover:bg-gray-900 bg-pink-600">
                                        Acheter
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section >




        {# DETAIL FORMATION #}
        <section class="bg-gray-100">
            <div class="py-20 my-12 max-w-5xl mx-auto  radius-for-skewed ">
                <div class="container mx-auto px-4">
                    <div class="flex flex-wrap items-center -mx-4">

                        <div data-aos="fade-right" class="w-full lg:order-1 lg:w-1/2">
                            <div class="mb-4 flex flex-wrap items-end">
                                <div class=" mb-4 lg:mb-0 w-full lg:w-2/3 px-3">
                                    <img class="w-full h-48 lg:h-32 lg:h-48 object-cover"
                                         src="{{ asset('build/images/formations/16.webp') }}"
                                         alt="Maison familiale construite grâce à la formation"></div>
                                <div class="w-full lg:w-1/3 px-3">
                                    <img class="w-full h-48 lg:h-32 object-cover"
                                         src="{{ asset('build/images/formations/13.webp') }}"
                                         alt="Rencontre avec les artisans qui effectueront votre chantier"></div>
                            </div>
                            <div class=" flex flex-wrap items-start">
                                <div class="mb-4 lg:mb-0 w-full lg:w-1/3 px-3">
                                    <img class="w-full h-48 lg:h-32 object-cover"
                                         src="{{ asset('build/images/formations/15.webp') }}"
                                         alt="Chantier d'une maison en construction"></div>
                                <div class="w-full lg:w-2/3 px-3">
                                    <img class="w-full h-48 lg:h-48 object-cover"
                                         src="{{ asset('build/images/formations/1.webp') }}"
                                         alt="Choix du terrain pour la construction de la maison sur un registre cadastral"></div>
                            </div>
                        </div>
                        <div data-aos="fade-right" class="mb-12 mt-8 lg:mt-0 lg:order-0 lg:mb-0 w-full lg:w-1/2 px-4">
                            <div class="max-w-md">
                                <span class="subtitle-2 inline-block">Contenu de la formation</span>
                                <h2 class="title-2 my-6">Une formation adaptée à vos objectifs</h2>

                                <ul class="font-raleway font-base text-gray-900 tracking-tight">
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Maîtriser les règles d'urbanisme</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Utiliser les leviers d'optimisation fiscale </span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Gérer son opération en toute autonomie</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Contrôler les garanties de post-achèvement</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Trouver des prestataires de confiance</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Négocier les tarifs de fabrication</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Faire construire sereinement</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Réduire au maximum les dépenses inutiles</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Economiser à coup sûr au moins 8000 €</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Maximiser son retour sur investissement</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        {# LES SESSIONS #}
        <section class="max-w-5xl mx-auto">

            <div class="py-8 lg:py-20 radius-for-skewed">
                <div class="container mx-auto px-4">
                    <div class="max-w-xl mx-auto md:text-center">
                        <span class="subtitle-2 inline-block lg:mb-5">Les modules</span>
                        <h2 class="title-2">9 étapes indispensable pour réussir votre construction</h2>
                    </div>
                </div>
            </div>


            <div class="py-8 lg:py-20">
                <div class="container mx-auto px-4">
                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-9 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6  ">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">1. Budgétisation et recherche
                                    cadastrale</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Dans ce module je vous
                                expliquerai
                                les étapes préalables à la construction. Vous aurez accès à 5 vidéos et des documents
                                qui
                                vous détaillerons les marches à suivre pour bien lancer son projet. Faire les bons choix
                                dès
                                le commencement de la construction est déterminant pour la suite du projet.</p>
                        </div>
                    </div>
                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-7 bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">2. étude et devis
                                    d’implantation</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Déterminer les coûts est la
                                seconde étape d’un projet réussi. Comment construire une maison sans estimer les tarifs
                                appliqués par les professionnels de l’immobilier ? Viabilisation du terrain, mises en
                                conformité au RT 2012 et réalisation des premières esquisses du projet… Je vous
                                conseille et
                                vous accompagne dans cette seconde étape.
                            </p>
                        </div>
                    </div>

                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-13 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6  ">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">3. Choix des partenaires et
                                    prestataires</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Bien comprendre les
                                obligations et
                                les intérêts de chaque acteur de votre projet permet de s’entourer de gens compétents et
                                de
                                confiance. A cette étape le projet prend de plus en plus forme. Les esquisses se
                                transforment en plan, de nouveaux partenaires rejoignent votre construction et les coûts
                                se
                                précisent</p>

                        </div>
                    </div>
                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-10 bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">4. Le prêt bancaire</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Pour valider son projet, le
                                notaire est bien entendu le premier représentant de l’administration à rencontrer. Une
                                fois
                                la signature réalisée, vous pourrez vous tourner vers une banque pour financer votre
                                projet.
                                Le prêt bancaire est une étape qui peut réserver de bonnes ou de mauvaises surprises. Je
                                vous donne les clés pour n’en tirer que du positif.
                            </p>
                        </div>
                    </div>

                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-12 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6  ">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">5. La description préalable du
                                    projet</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">A cette étape, vous devrez
                                déterminer et choisir les matériaux, le type de fondation et les options de
                                construction.
                                Vous apprendrez comment construire une maison peu onéreuse grâce à des outils et
                                techniques
                                de négociation des prix. Je vous révèle les astuces des professionnels pour que vous
                                soyez
                                vainqueur au moment de la signature du contrat.</p>

                        </div>
                    </div>
                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-6 bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">6. Mise en conformité juridique
                                    et
                                    légale</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Toutes les obligations
                                administratives concernant le projet démarrent à ce moment-là. C’est le moment d’attente
                                du
                                projet. Vous attendez que la collectivité vous octroie un permis de construire, faites
                                les
                                derniers choix avant les travaux et préparez le terrain à accueillir votre maison.
                            </p>
                        </div>
                    </div>

                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-15 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6  ">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">7. Le démarrage des
                                    travaux</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Les travaux débutent. Les
                                premiers
                                artisans et prestataires lancent la construction des fondations et gèrent les raccords
                                des
                                arrivées d’eau et d’électricité. Vous assisterez à plusieurs rendez-vous chantier et
                                devrez
                                à ce moment-là être vigilant quant à l’exécution des travaux. La moindre inattention et
                                le
                                moindre défaut peut se payer cher. Je vous donne les clés pour éviter tous les tracas et
                                gérer en confiance votre chantier.</p>

                        </div>
                    </div>
                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-3 bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">8. La remise des clés</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Le moment tant attendu de la
                                construction d’une maison. Après avoir appris comment construire une maison de A à Z,
                                vous
                                pouvez enfin profiter de votre logement. Cependant la remise des clés est une étape
                                importante puisque c’est le moment pour vous d’émettre des réserves et de faire jouer
                                les
                                garanties des constructeurs. Il vous faut donc connaître les techniques pour éviter de
                                vous
                                faire flouer.</p>
                        </div>
                    </div>

                    <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-11 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                        <div class="w-full lg:w-1/2 pb-6  ">
                            <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                        class="text-xl font-bold uppercase font-raleway">9. Le projet d’investissement
                                    locatif</h3>
                            </div>

                            <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Maintenant que la construction
                                n’a
                                plus de secret pour vous, pourquoi ne pas en profiter pour générer des revenus passifs ?
                                Découvrez comment fonctionne la construction d’une maison de location et comment
                                rentabiliser cet investissement.</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        {# QUI SUIS JE #}

        {% include 'shared/_aboutZone.html.twig' with {
            'aboutText' : "Pendant 10 ans, j’ai accompagné plusieurs centaines de familles dans leur projet d’installation. Je leur ai expliqué à chaque étape comment construire leur maison.
Je leur ai partagé toutes mes techniques et les ai accompagnés à chaque étape de leur projet. Résultat ? Suivant leurs projets j’ai pu leur faire économiser entre 8000€ et 30 000€.
Dans cette formation, je vous révèle toutes les techniques pour avoir une stratégie gagnante. vous saurez alors comment construire une maison sereinement en économisant du temps et de l’argent !"
        } %}


        {# FAQ #}
        <section x-data="{selected:null}">
            <div class="py-20 bg-gray-100 radius-for-skewed">
                <div class="container mx-auto px-4">
                    <div class="mb-16 max-w-xl mx-auto text-center">
                        <span class="subtitle-2 inline-block mb-5">FAQ</span>
                        <h2 class="mb-6 title-2">Questions fréquentes</h2>
                    </div>
                    <div class="max-w-3xl mx-auto">
                        <ul class="space-y-1 lg:space-y-6">
                            <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                                @click="selected !== 1 ? selected = 1 : selected = null">
                                <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                    <span class="text-lg font-semibold font-raleway">À qui s'adresse cette formation ?</span>
                                    <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                         x-bind:class="{ 'rotate-180' : selected == 1 }"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                    </svg>
                                </div>
                                <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                                   x-ref="container1"
                                   x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                                   :class="{ 'pt-6' : selected == 1 }">
                                    Vous souhaitez devenir propriétaire de votre résidence principale ou souhaitez
                                    investir
                                    dans une construction neuve pour louer ou revendre.</p>
                            </li>


                            <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                                @click="selected !== 2 ? selected = 2 : selected = null">
                                <div class="w-full flex justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                    <span class="text-lg font-semibold font-raleway">Si la formation ne me convient pas, puis-je me rétracter ?</span>
                                    <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                         x-bind:class="{ 'rotate-180' : selected == 2 }"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                    </svg>
                                </div>
                                <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                                   x-ref="container1"
                                   x-bind:style="selected == 2 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                                   :class="{ 'pt-6' : selected == 2 }">
                                    Oui ! Vous avez 15 jours pour changer d’avis. Aucune explication ne vous est
                                    demandée,
                                    nous vous remboursons immédiatement. Parce que nous avons confiance en la qualité de
                                    nos
                                    formations, nous vous permettons de vous rétracter à tout moment pendant 15
                                    jours.</p>
                            </li>

                            <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                                @click="selected !== 3 ? selected = 3 : selected = null">
                                <div class="w-full  flex justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                    <span class="text-lg font-semibold font-raleway">Est-ce que je peux payer en plusieurs fois ?</span>
                                    <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                         x-bind:class="{ 'rotate-180' : selected == 3 }"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                    </svg>
                                </div>
                                <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                                   x-ref="container1"
                                   x-bind:style="selected == 3 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                                   :class="{ 'pt-6' : selected == 3 }">
                                    Oui, en fonction de la formation, vous pouvez avoir la possibilité de payer en 1, 3
                                    ou 5
                                    fois. Vous êtes alors débité chaque mois du montant indiqué lors de l’achat.
                            </li>

                            <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                                @click="selected !== 4 ? selected = 4 : selected = null">
                                <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                    <span class="text-lg font-semibold font-raleway">Quels sont les autres avantages de cette formation ?</span>
                                    <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                         x-bind:class="{ 'rotate-180' : selected == 4 }"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                    </svg>
                                </div>
                                <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                                   x-ref="container1"
                                   x-bind:style="selected == 4 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                                   :class="{ 'pt-6' : selected == 4 }">
                                    Avec la formation vous bénéficiez d’un accès à notre communauté d’investisseurs et
                                    aux
                                    conseils d'experts afin d'être au fait de toutes les évolutions de la législation et
                                    des
                                    obligations liées aux opérations de promotion immobilière. Vous bénéficiez aussi de
                                    tarifs préférentiels pour nos autres formations ou pour participer à nos évènements
                                    immobiliers.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </section>


        {# ECHANGE TELEPHONIQUE #}
        {% include 'shared/_contact.html.twig' %}

        {# UPSELL #}
        {% include 'shared/_packFormations.html.twig' %}

        {# FIXED #}
        <div class="sticky bottom-0 inset-x-0 bg-gray-900 font-raleway bg-opacity-90 text-white">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
                <div class="p-2  sm:p-3">
                    <div class="flex items-center justify-stretch">
                        <div class="flex-1 flex items-center">
                  <span class="flex p-2">
                    497,00 €
                  </span>
                            <span class="hidden md:inline flex p-2"> | </span>
                            <p class="ml-3 font-semibold uppercase">
                        <span class="hidden md:inline">
                          Formation immeuble de rapport
                        </span>
                            </p>
                        </div>
                        <div class="order-3 mt-2 flex-shrink-0 sm:order-2 sm:mt-0 w-auto">
                            <a href="https://michaelballotformation.podia.com/construire-sa-maison-en-toute-autonomie"
                               class=" text-white bg-pink-600 hover:bg-pink-700 btn-1 py-3">
                                Acheter
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}