{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO SECTION #}

    <header x-data="{ open: false }"  class="bg-cover bg-no-repeat border-black bg-gray-900 bg-silver">
        <div class="w-full z-0 h-full bg-gray-900 bg-opacity-70">
            <div class=" max-w-7xl z-10 px-4 py-32 px-8 mx-auto ">
                <div class="flex flex-wrap items-center -mx-3">
                    <div class="w-full lg:w-1/2 px-3">
                        <div class="py-12">
                            <div data-aos="fade-right" class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                                <nav class="lg:block hidden mb-10 font-raleway justify-start text-gray-100 opacity-50"
                                     aria-label="Breadcrumb">
                                    <ol class="flex items-center justify-start mx-auto space-x-4">
                                        <li>
                                            <div>
                                                <a href="{{ path('homepage') }}" class="hover:text-gray-300">
                                                    <!-- Heroicon name: solid/home -->
                                                    <svg class="flex-shrink-0 h-5 w-5"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
                                                    </svg>
                                                    <span class="sr-only">Accueil</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-center">
                                                <!-- Heroicon name: solid/chevron-right -->
                                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                                <a href="{{ path('service') }}"
                                                   class="ml-4 text-sm font-light hover:text-gray-300">Services</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-center">
                                                <!-- Heroicon name: solid/chevron-right -->
                                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                                <a href="{{ path('silver') }}" aria-current="page"
                                                   class="ml-4 text-sm font-light hover:text-gray-300">Offre Silver</a>
                                            </div>
                                        </li>
                                    </ol>
                                </nav>
                                <h1 class="title-1 text-white">
                                    Achat & revente d’un bien
                                </h1>
                                <p class="body-1 mt-12 text-white">Vous souhaitez investir dans un bien mais n’avez pas
                                    le temps ou l’envie de vous en occuper ?
                                    Je gère pour vous l’achat, les travaux et la revente d’un bien.</p>
                            </div>
                            <!-- Début de widget de lien Calendly -->
                            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                            <a href="" class="mx-auto block lg:mx-0" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/contact-3525/etre-recontacte?text_color=111827&primary_color=db2777'});return false;">
                                <button class=" btn-1 text-white hover:bg-gray-900 bg-pink-600">Être contacté</button>
                            </a>
                            <!-- Fin de widget de lien Calendly -->
                        </div>
                    </div>


                    <div data-aos="fade-left" class="w-full rounded relative lg:w-1/2 px-3 mb-12 lg:mb-0">
                        <img class="lg:h-128 rounded mx-auto flex items-center justify-center"
                             src="{{ asset ('build/images/miniatureVideo/10.png') }}"
                             alt="Michael Ballot présente la prestation d'investissements immobilier d'achat revente d'un bien">
                        <div class="absolute  inset-0 flex items-center justify-center">
                            <button @click="open = true"
                                    class="js-play flex bg-opacity-90 items-center justify-center bg-gray-900 text-white p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                     viewBox="0 0 140 140" width="12" height="12">
                                    <g transform="matrix(14,0,0,14,0,0)">
                                        <path d="M8.266,3.563,3.7.316h0A1.686,1.686,0,0,0,1.916.2,1.754,1.754,0,0,0,1,1.753V8.247A1.753,1.753,0,0,0,1.916,9.8,1.687,1.687,0,0,0,3.7,9.685L8.266,6.438a1.775,1.775,0,0,0,0-2.875Z"
                                              fill="currentColor" stroke="none" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="0"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="fixed z-50 top-0 left-0 flex items-center justify-center w-screen h-screen"
                         x-show="open" x-cloak>
                        <div class="w-screen js-pause absolute z-40 h-screen flex-none top-0 bg-gray-900 bg-opacity-90"
                             @click="open = false"></div>

                        <!-- A basic modal dialog with title, body and one button to close -->
                        <div class="h-auto w-full p-4 mx-2 z-50 text-left bg-white rounded shadow-xl md:max-w-xl md:p-6 lg:p-8 md:mx-0">

                            <div class="container">
                                <div class="plyr__video-embed" id="player" class="rounded-sm">
                                    <iframe  width="1154" height="649" src="https://www.youtube.com/embed/3SbWh3YUZ84"
                                             frameborder="0"
                                             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                             allowfullscreen></iframe>
                                    <!-- Fallback for browsers that don't support the <video> element -->
                                    <a href="https://youtu.be/3SbWh3YUZ84"
                                       download>Voir la vidéo sur Youtube</a>
                                </div>
                            </div>
                            <!-- Plyr resources and browser polyfills are specified in the pen settings -->


                            <!-- One big close button.  --->
                            <div class="mt-5 sm:mt-6">
                    <span class="flex js-pause2 w-full shadow-sm">
                      <button @click="open = false"
                              class="btn-1 text-white bg-gray-900 hover:bg-gray-700">
                        Fermer la vidéo
                      </button>
                    </span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </header>

    <main>


    {# INTRODUCTION #}
    <section class="bg-gray-50 w-full">

        <div class="pt-20 pb-8 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-2xl mx-auto text-center">
                    <h2 class="title-1">Ce que vous aurez dans l'offre Silver</h2>
                    <p class="body-2 max-w-lg mx-auto mt-6">L’offre Silver comprend l’inscription à The School
                        Investment + l’achat et la revente d'un bien

                    </p>
                </div>
            </div>
        </div>
    </section>

    {# CARD FORMATION #}
    <section class="pt-8 bg-gray-50 w-full pb-8 ">
        <div class="max-w-4xl px-8 mx-auto">

            <div data-aos="fade-up" class="w-full p-6 bg-white shadow-lg  hover:shadow-sm transition-all duration-300 grid grid-cols-1 md:grid-cols-3 items-center justify-items-center">
                <div class="w-full  max-w-sm md:col-span-1">

                        <img
                                class="w-full  shadow-sm mx-auto mb-8 md:mb-0 h-auto"
                                src="{{ asset('build/images/main/offre-silver.webp') }}" alt="Affiche de l'offre pour un investissement clé en main d'achat revente d'un bien">
                </div>
                <div class="w-full col-span-2 text-left grid justify-self-end justify-items-center">
                    <div class="max-w-sm mx-auto mb-4">
                        <h2 class="subtitle-2">Service premium</h2>
                        <h3 class="title-2">Offre Silver</h3>

                        <p class="body-2 mt-5">Accédez à toutes les formations et l'accompagnement nécessaire pour
                            devenir investisseur immobilier. Bénéficiez d'un investissement clé en main adapté à vos
                            exigences.</p>

                        <div class="flex mt-2 items-center pb-5 border-b-2 border-gray-100 mb-5">
                        </div>
                        <div class="flex items-center">
                            <span class="title-font font-medium text-2xl text-gray-900">6 997,00 €</span>

                            <!-- Début de widget de lien Calendly -->
                            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                            <a href="" class="ml-auto" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/contact-3525/etre-recontacte?text_color=111827&primary_color=db2777'});return false;">
                                <button class=" btn-1 text-white hover:bg-gray-900 bg-pink-600">Être contacté</button>
                            </a>
                            <!-- Fin de widget de lien Calendly -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# CARD GOLD #}
    <section>
        <div class="bg-gradient-to-b from-gray-50 radius-for-skewed">
            <div class="container mx-auto px-8">
                <div class="flex flex-wrap max-w-4xl mx-auto">
                    <div data-aos="fade-left" class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0">
                        <div class="py-8 px-10 max-w-md mx-auto bg-white shadow-sm text-center">
                            <div class="mb-8">
                                <h3 class="subtitle-3">Un accompagnement sur-mesure</h3>
                                <h4 class="title-4 pt-2">The School Investment</h4>
                            </div>
                            <div>
                                <ul class="font-raleway text-left font-base text-gray-900 tracking-tight">
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Bilan personnalisé</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Accès illimité à vie aux formations en ligne</span>
                                    </li>

                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">5 weeks ends de séminaires privés</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">1 an d'accompagnement sur-mesure</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-right" class="w-full lg:w-1/2 px-4">
                        <div class="py-8 px-10 max-w-md mx-auto bg-white shadow-sm text-center">
                            <div class="mb-8">
                                <h3 class="subtitle-3">Un investissement clé en main</h3>
                                <h4 class="title-4 pt-2">Achat & revente d'un bien</h4>
                            </div>
                            <div>
                                <ul class="font-raleway font-base text-gray-900 tracking-tight">
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Recherche d'un bien</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Rencontre avec les corps de métiers</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Dossiers pour l'urbanisme</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Permis de travaux / Construction</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Dossier bancaire</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Business plan</span>
                                    </li>

                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Suivi de chantier</span>
                                    </li>
                                    <li class="mb-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xmlns:svgjs="http://svgjs.com/svgjs"
                                             viewBox="0 0 140 140" width="14" height="14">
                                            <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                                <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <span class="ml-4">Étude pour la revente</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    {# BULLET POINTS #}
    {% include 'shared/_avantages.html.twig' %}

    {# LES SESSIONS #}
    <section class="max-w-5xl mx-auto">

        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5">Contenu de l'offre</span>
                    <h2 class="title-2">L'offre Silver en détail</h2>
                </div>
            </div>
        </div>


        <div class="py-20">
            <div class="container mx-auto px-4">

                <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-5 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">5 formations en ligne</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Formez-vous à votre rythme grâce à
                            un accès illimité à 5 formations en ligne. Maitrisez les règles d'urbanisme, trouvez le bon
                            bien, réalisez des opérations rentables, actionnez les bons leviers fiscaux, négociez avec
                            la banque, gérez l'ensemble des travaux, entourez vous des bonnes personnes... Grâce à ces 5
                            formations vous deviendrez un investisseur hors pair.
                        </p>

                    </div>
                </div>
                <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-12 bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">1 accompagnement sur-mesure</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">En visio-conférence ou en direct,
                            nous nous rencontrons avec l’ensemble des élèves de The School Investment pour échanger à
                            propos de vos projets. Je réponds à toutes vos questions et vous donne des astuces
                            inédites.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-formation-19 bg-cover bg-no-repeat lg:block hidden">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6  ">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">5+ séminaires privés</h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">On se retrouve entre investisseurs dans
                            des lieux atypiques : Golf, station de ski, hotels de luxe pour faire le point sur vos
                            projets et approfondir des techniques d’investissement et d’optimisation
                        </p>

                    </div>
                </div>
                <div data-aos="fade-right" class="mb-8 flex flex-wrap rounded-sm shadow-lg overflow-hidden bg-white">
                    <div class="w-full lg:w-1/2 bg-silver-small bg-cover bg-no-repeat lg:block hidden lg:order-1">
                    </div>
                    <div class="w-full lg:w-1/2 pb-6">
                        <div class="w-full px-6  mb-4 border-b-2 border-gray-100  text-gray-300 py-8"><h3
                                    class="text-xl font-bold uppercase font-raleway">Achat revente d’un bien </h3>
                        </div>

                        <p class="mb-4 px-6 text-gray-400 leading-loose font-raleway">Je gère pour vous l’ensemble des
                            étapes pour acheter, améliorer et revendre un bien : Recherche, étude de faisabilité, levée
                            de fonds, plans, suivi de chantiers, documents légaux, déclaration et étude de marché pour
                            la revente.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# FAQ #}
    <section x-data="{selected:null}">
        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="mb-16 max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5">FAQ</span>
                    <h2 class="mb-6 title-2">Questions fréquentes</h2>
                </div>
                <div class="max-w-3xl mx-auto">
                    <ul class="space-y-1 lg:space-y-6">
                        <li class="pt-6 pb-3 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 1 ? selected = 1 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">C’est quoi The school Investment ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 1 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'mt-6' : selected == 1 }">
                                Immeuble de rapport, Double construction, Investissement locatif, Acheter et rénover
                                pour louer, Pierre papier, Promotion immobilière, Défiscalisation ...
                                Dans The school Investment, nous vous accompagnons tout au long de votre parcours
                                d'investissement avec des conseils personnalisés et adaptés à vos ambitions.
                            </p>
                        </li>


                        <li class="pt-6 pb-3 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 2 ? selected = 2 : selected = null">
                            <div class="w-full flex justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Qu’y a-t-il dans la School ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 2 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <div class="text-gray-500   font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                                 x-ref="container2"
                                 x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
                                 :class="{ 'my-6' : selected == 2 }">
                                <ul class="list-disc list-outside ml-5">
                                    <li>1 accès illimité à l'ensemble de mes formations
                                        en ligne (5 formations offertes pour un total de 7200€).
                                    </li>
                                    <li>1 SAV par mail pour échanger avec moi et d'autres
                                        professionnels de l'investissement tout au long de votre formation.
                                    </li>
                                    <li>1 cadeau de bienvenue directement livré chez vous
                                        pour travailler dans les meilleures conditions.
                                    </li>
                                    <li>5 weeks ends de séminaires privés dans des
                                        endroits de détente et de partage.
                                    </li>
                                    <li>Mon livre est offert : Je vous révèle l'ensemble
                                        des investissements et des choix de rentabilité que j'ai fait au cours de ma
                                        vie.
                                    </li>
                                    <li>1 accès au groupe fermé Facebook pour pouvoir
                                        échanger et collaborer avec chacun des membres. Mais aussi profiter de conseils
                                        d'experts et de professionnels du secteur.
                                    </li>
                                    <li>1 bilan personnalisé de votre situation suivi de
                                        proposition concrètes d'investissements dès le premier jour de la formation.
                                    </li>
                                    <li>2 appels téléphoniques par mois pour suivre
                                        l'avancement de vos investissements et travailler votre rentabilité.
                                    </li>
                                    <li>Des propositions d'associations pour réaliser des
                                        investissements supérieurs en groupe.
                                    </li>
                                </ul>

                            </div>
                        </li>

                        <li class="pt-6 pb-3 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 3 ? selected = 3 : selected = null">
                            <div class="w-full  flex justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Quelles sont les 5 formations en ligne ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 3 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <div class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                                 x-ref="container3"
                                 x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
                                 :class="{ 'mt-6' : selected == 3 }">
                                <ul class="list-disc list-outside ml-5">
                                    <li>Trouver le bon bien</li>
                                    <li>Réussir son dossier bancaire</li>
                                    <li>Construire la maison de ses rêves</li>
                                    <li>La double construction en investissement locatif</li>
                                    <li>Acheter son premier immeuble de rapport</li>
                                </ul>
                            </div>
                        </li>

                        <li class="pt-6 pb-3 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 4 ? selected = 4 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Quels sont les autres avantages ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 4 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container4"
                               x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''"
                               :class="{ 'mt-6' : selected == 4 }">
                                Vous bénéficiez d’un accès à notre communauté d’investisseurs et aux conseils d'experts
                                afin d'être au fait de toutes les évolutions de la législation et des obligations liées
                                aux opérations de promotion immobilière. Vous bénéficiez aussi de tarifs préférentiels
                                pour nos autres formations ou pour participer à nos évènements immobiliers.
                        </li>

                        <li class="pt-6 pb-3 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 5 ? selected = 5 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Est-ce que je peux payer en plusieurs fois ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 5 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container5"
                               x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''"
                               :class="{ 'mt-6' : selected == 5 }">
                                Oui, absolument, vous avez la possibilité de payer en 1, 3 fois ou 12 fois. Vous êtes
                                alors débité chaque mois du montant indiqué lors de l’achat.
                        </li>

                        <li class="pt-6 pb-3 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 6 ? selected = 6 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Si l’offre ne me convient pas, puis-je me rétracter ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 6 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container6"
                               x-bind:style="selected == 6 ? 'max-height: ' + $refs.container6.scrollHeight + 'px' : ''"
                               :class="{ 'mt-6' : selected == 6 }">
                                Oui ! Vous avez 30 jours pour changer d’avis. Aucune explication ne vous est demandée,
                                nous vous remboursons immédiatement. Parce que nous avons confiance en la qualité de nos
                                prestations, nous vous permettons de vous rétracter à tout moment pendant 30 jours
                        </li>

                        <li class="pt-6 pb-3 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 7 ? selected = 7 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">A qui s'adresse l'offre Silver ?</span>
                                <svg class="w-4 h-4 text-gray-900 transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 7 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container7"
                               x-bind:style="selected == 7 ? 'max-height: ' + $refs.container7.scrollHeight + 'px' : ''"
                               :class="{ 'mt-6' : selected == 7 }">
                                Vous souhaitez devenir rentier et voulez faire un investissement simple sans accro et
                                avec une rentabilité assurée. Vous souhaitez qu’un Investisseur professionnel gère de A
                                à Z votre projet d’investissement.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# ECHANGE TELEPHONIQUE #}
    {% include 'shared/_contact.html.twig' %}
    </main>
{% endblock %}
