{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO #}
    <section>
        <div class="container px-4 py-32 mx-auto ">
            <div class="flex flex-wrap items-center -mx-3">
                <div class="w-full lg:w-1/2 px-3">
                    <div class="py-12">
                        <div class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                            <h1 class="title-1">
                                2 jours pour devenir investisseur
                            </h1>
                            <p class="body-1 mt-12">10 intervenants professionnels seront présents pour accompagner
                                votre réussite : Comptable, Fiscaliste, agent immobilier, Entrepreneur, Banquier,
                                Marchand de biens, Professionnel de la location courte durée, Investisseur immobilier,
                                Coach et formateur en investissement, etc.</p>
                        </div>
                        <button class="btn-1">
                            Inscription
                        </button>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-3 mb-12 lg:mb-0">
                    <div class="lg:h-128 flex items-center justify-center"><img class="lg:max-w-lg"
                                                                                src="https://picsum.photos/700/400"
                                                                                alt=""></div>
                </div>
            </div>
        </div>
        <div class="hidden navbar-menu relative z-50">
            <div class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25"></div>
        </div>
    </section>

    {# BULLET POINTS #}
    <section class="pt-8 pb-2 bg-gray-50 mb-24 bg-blueGray-50">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-3">
                <div class="w-full md:w-1/3 px-3 mb-6">
                    <div class="p-6 ">
                        <p class="title-2 font-bold">2 Jours</p>
                        <p class="body-2">
                            complets au Golf du Médoc
                        </p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6">
                    <div class="p-6 ">

                        <p class="title-2 font-bold">9 Intervenants</p>
                        <p class="body-2">
                            dont 1 invité surprise
                        </p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6">
                    <div class="p-6">

                        <p class="title-2 font-bold">50 Participants</p>
                        <p class="body-2">
                            Motivés et prêts à changer de vie
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>

    {# INTERVENANTS #}
    <section class="max-w-7xl mx-auto">

        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5">QUI ?</span>
                    <h2 class="title-2">Les intervenants</h2>
                </div>
            </div>
        </div>
        <div class="grid mx-auto lg:grid-cols-8 md:grid-cols-4 justify-center mb-12 ">
            <div class="flex col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-auto w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/leo-blanchet.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">MAÎTRE ROBIN-VAYSSIERE</h3>
                            <p class="font-raleway font-medium text-white">Notaire</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/carolin-arthaud.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Thomas Miralles</h3>
                            <p class="font-raleway font-medium text-white">Courtier</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex lg:col-span-4 lg:row-span-2 col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/carolin-arthaud.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Carolin Arthaud</h3>
                            <p class="font-raleway font-medium text-white">Coach immobilier</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex lg:col-span-4 lg:row-span-2 col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/tony-jazz.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Tony Jazz</h3>
                            <p class="font-raleway font-medium text-white">Investisseur & Entrepreneur</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-auto w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/leo-blanchet.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Léo Blanchet</h3>
                            <p class="font-raleway font-medium text-white">Investisseur immobilier</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/carolin-arthaud.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Christophe Tournier</h3>
                            <p class="font-raleway font-medium text-white">Agent immobilier</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-auto w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/thibault-epee.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">THIBAULT EPÉE</h3>
                            <p class="font-raleway font-medium text-white">Fondateur du Club rentabilité</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-auto w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/mathieu-kirios.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Mathieu Quiros</h3>
                            <p class="font-raleway font-medium text-white">Investisseur immobilier</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('images/intervenants/michael-ballot.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Micahel Ballot</h3>
                            <p class="font-raleway font-medium text-white">Investisseur & Coach</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex col-span-2 row-span-1 px-4 m-3 w-full hover:scale-105 hover:shadow-md transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full  rounded-lg object-cover"
                         src="{{ asset('images/intervenants/carolin-arthaud.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">???</h3>
                            <p class="font-raleway font-medium text-white">Invité mystère</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>

    {# DATE #}
    <section class="pt-20 pb-24 bg-gray-800 text-white">
        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5 text-white">QUAND ?</span>
                    <h2 class="title-1 text-white">Du 27 au 28 Mars 2021</h2>
                </div>
            </div>
        </div>
    </section>

    {# HERO #}
    <section>
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap items-center -mx-3">
                <div class="w-full lg:w-1/2 px-3">
                    <div class="py-12">
                        <div class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                            <h2 class="text-3xl md:text-4xl mb-4 font-bold font-heading">
                                <span>The quick</span>
                                <span class="text-blue-600">brown fox</span>
                                <span>jumps over the lazy dog.</span>
                            </h2>
                            <p class="text-blueGray-400 leading-relaxed">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Sed luctus eget justo et iaculis. Quisque vitae nulla malesuada, auctor
                                arcu vitae, luctus nisi.</p>
                        </div>
                        <div class="text-center lg:text-left"><a
                                    class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded"
                                    href="#">Check Now</a><a
                                    class="block sm:inline-block py-4 px-8 text-xs text-blueGray-500 hover:text-blueGray-600 text-center font-semibold leading-none bg-white border border-blueGray-200 hover:border-blueGray-300 rounded"
                                    href="#">Documentation</a></div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-3 mb-12 lg:mb-0">
                    <div class="lg:h-128 flex items-center justify-center"><img class="lg:max-w-lg"
                                                                                src="metis-assets/illustrations/work-tv.png"
                                                                                alt=""></div>
                </div>
            </div>
        </div>
        <div class="hidden navbar-menu relative z-50">
            <div class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25"></div>
            <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
                <div class="flex items-center mb-8">
                    <a class="mr-auto text-3xl font-semibold leading-none" href="#"><img class="h-10"
                                                                                         src="metis-assets/logos/metis/metis.svg"
                                                                                         alt="" width="auto"></a>
                    <button class="navbar-close">
                        <svg class="h-6 w-6 text-blueGray-400 cursor-pointer hover:text-blueGray-500"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div>
                    <ul>
                        <li class="mb-1"><a
                                    class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600"
                                    href="#">Product</a></li>
                        <li class="mb-1"><a
                                    class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600"
                                    href="#">Company</a></li>
                        <li class="mb-1"><a
                                    class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600"
                                    href="#">About Us</a></li>
                        <li class="mb-1"><a
                                    class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600"
                                    href="#">Features</a></li>
                    </ul>
                    <div class="mt-4 pt-6 border-t border-blueGray-100"><a
                                class="block px-4 py-3 mb-3 text-xs text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded"
                                href="#">Sign Up</a><a
                                class="block px-4 py-3 mb-2 text-xs text-center text-blue-600 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded"
                                href="#">Log In</a></div>
                </div>
                <div class="mt-auto">
                    <p class="my-4 text-xs text-blueGray-400">
                        <span>Get in Touch</span>
                        <a class="text-blue-600 hover:text-blue-600 underline" href="#">info@example.com</a>
                    </p>
                    <a class="inline-block px-1" href="#"><img src="metis-assets/icons/facebook-blue.svg" alt=""></a><a
                            class="inline-block px-1" href="#"><img src="metis-assets/icons/twitter-blue.svg"
                                                                    alt=""></a><a class="inline-block px-1"
                                                                                  href="#"><img
                                src="metis-assets/icons/instagram-blue.svg" alt=""></a>
                </div>
            </nav>
        </div>
    </section>

    {# CARD DATE 1 #}
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Applicant Information
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Personal details and application.
            </p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Full name
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Margot Foster
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Application for
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Backend Developer
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Email address
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        margotfoster@example.com
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Salary expectation
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        $120,000
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        About
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat.
                        Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia
                        proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Attachments
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                <div class="w-0 flex-1 flex items-center">
                                    <!-- Heroicon name: solid/paper-clip -->
                                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="ml-2 flex-1 w-0 truncate">
                                      resume_back_end_developer.pdf
                                    </span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                        Download
                                    </a>
                                </div>
                            </li>
                            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                <div class="w-0 flex-1 flex items-center">
                                    <!-- Heroicon name: solid/paper-clip -->
                                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="ml-2 flex-1 w-0 truncate">
                                      coverletter_back_end_developer.pdf
                                    </span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                        Download
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    {# CARD DATE 1 #}
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Applicant Information
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Personal details and application.
            </p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Full name
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Margot Foster
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Application for
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Backend Developer
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Email address
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        margotfoster@example.com
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Salary expectation
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        $120,000
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        About
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat.
                        Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia
                        proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Attachments
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                <div class="w-0 flex-1 flex items-center">
                                    <!-- Heroicon name: solid/paper-clip -->
                                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="ml-2 flex-1 w-0 truncate">
                                      resume_back_end_developer.pdf
                                    </span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                        Download
                                    </a>
                                </div>
                            </li>
                            <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                <div class="w-0 flex-1 flex items-center">
                                    <!-- Heroicon name: solid/paper-clip -->
                                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="ml-2 flex-1 w-0 truncate">
                                      coverletter_back_end_developer.pdf
                                    </span>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                        Download
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    {# AVIS CLIENT #}
    <section>
        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container px-4 mx-auto">
                <div class="lg:flex items-center justify-center md:space-x-8">
                    <div class="mb-10 text-center lg:hidden">
                        <button class="mr-6 lg:mr-0 bg-white p-4 rounded-full shadow-md text-green-600 hover:text-green-400 transition duration-200">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                            </svg>
                        </button>
                        <button class="bg-white p-4 rounded-full shadow-md text-green-600 hover:text-green-400 transition duration-200">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                            </svg>
                        </button>
                    </div>
                    <button class="hidden lg:block lg:mr-0 bg-white p-5 rounded-full shadow-md text-green-600 hover:text-green-400 transition duration-200">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                        </svg>
                    </button>
                    <div class="flex w-full flex-wrap bg-white shadow rounded">
                        <div class="py-10 text-center w-full lg:w-1/3 border-r">
                            <span class="text-5xl lg:text-6xl font-bold">5.0</span>
                            <div class="mb-6 lg:mb-12 flex text-green-600 justify-center">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                </svg>
                            </div>
                            <div><img class="block mx-auto" src="atis-assets/social/clutch-logo.png" alt=""></div>
                        </div>
                        <div class="py-10 px-6 w-full lg:w-2/3">
                            <img class="mb-10 w-10 h-10" src="atis-assets/elements/left-quote.png" alt="">
                            <p class="mb-10 text-xl lg:text-2xl leading-loose text-gray-500">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Pellentesque et placerat metus. Morbi aliquet felis sit
                                amet erat finibus, ac condimentum ligula ornare.</p>
                            <h4 class="text-2xl font-bold font-heading">Alice Bradley</h4>
                            <p class="text-gray-500">Backend Developer</p>
                        </div>
                    </div>
                    <button class="hidden lg:block bg-white p-5 rounded-full shadow-md text-green-600 hover:text-green-400 transition duration-200">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
