{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO #}
    <section x-data="{ open: false }" class="bg-cover bg-no-repeat border-black bg-gray-900 bg-14">
        <div class="w-full z-0 h-full bg-gray-900 bg-opacity-70">
            <div class=" max-w-7xl z-10 px-4 py-32 px-8 mx-auto ">
                <div class="flex flex-wrap items-center -mx-3">
                    <div class="w-full lg:w-1/2 px-3">
                        <div class="py-12">
                            <div data-aos="fade-right" class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                                <h1 class="title-1 text-white">
                                    2 jours pour devenir investisseur
                                </h1>
                                <p class="body-1 mt-12 text-white">10 intervenants professionnels seront présents pour
                                    accompagner
                                    votre réussite : Comptable, Fiscaliste, agent immobilier, Entrepreneur, Banquier,
                                    Marchand de biens, Professionnel de la location courte durée, Investisseur
                                    immobilier,
                                    Coach et formateur en investissement, etc.</p>
                            </div>
                            <a href="" class="mx-auto"></a>
                            <button class="btn-1 text-white mx-auto block lg:mx-0 hover:bg-gray-900 bg-pink-600">
                                Inscription
                            </button>
                        </div>
                    </div>


                    <div data-aos="fade-left" class="w-full rounded relative lg:w-1/2 px-3 mb-12 lg:mb-0">
                        <img class="lg:h-128 rounded mx-auto flex items-center justify-center"
                             src="https://picsum.photos/700/400"
                             alt="">
                        <div class="absolute  inset-0 flex items-center justify-center">
                            <button @click="open = true"
                                    class="js-play flex bg-opacity-90 items-center justify-center bg-gray-900 text-white p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                     viewBox="0 0 140 140" width="12" height="12">
                                    <g transform="matrix(14,0,0,14,0,0)">
                                        <path d="M8.266,3.563,3.7.316h0A1.686,1.686,0,0,0,1.916.2,1.754,1.754,0,0,0,1,1.753V8.247A1.753,1.753,0,0,0,1.916,9.8,1.687,1.687,0,0,0,3.7,9.685L8.266,6.438a1.775,1.775,0,0,0,0-2.875Z"
                                              fill="currentColor" stroke="none" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="0"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="fixed z-50 top-0 left-0 flex items-center justify-center w-screen h-screen"
                         x-show="open" x-cloak>
                        <div class="w-screen js-pause absolute z-40 h-screen flex-none top-0 bg-gray-900 bg-opacity-90"
                             @click="open = false"></div>

                        <!-- A basic modal dialog with title, body and one button to close -->
                        <div class="h-auto p-4 mx-2 z-50 text-left bg-white rounded shadow-xl md:max-w-xl md:p-6 lg:p-8 md:mx-0">


                            <div class="container">
                                <video id="player" controls crossorigin playsinline
                                       poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webp">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                                            type="video/mp4" size="576">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                            type="video/mp4" size="720">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4"
                                            type="video/mp4" size="1080">

                                    <!-- Caption files -->
                                    <track kind="captions" label="English" srclang="en"
                                           src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                                           default>
                                    <track kind="captions" label="Français" srclang="fr"
                                           src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
                                    <!-- Fallback for browsers that don't support the <video> element -->
                                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                                       download>Download</a>
                                </video>
                            </div>
                            <!-- Plyr resources and browser polyfills are specified in the pen settings -->


                            <!-- One big close button.  --->
                            <div class="mt-5 sm:mt-6">
                    <span class="flex js-pause2 w-full shadow-sm">
                      <button @click="open = false"
                              class="btn-1 text-white bg-gray-900 hover:bg-gray-700">
                        Fermer la vidéo
                      </button>
                    </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {# BULLET POINTS #}
    <section class="pt-8 pb-2 bg-gray-100 mb-24">
        <div class="container max-w-7xl px-4 mx-auto">
            <div data-aos="fade-up" class="flex flex-wrap -mx-3">
                <div class="w-full md:w-1/3 px-3 mb-6">
                    <div class="p-6 ">
                        <p class="title-2 font-bold">2 Jours</p>
                        <p class="body-2">
                            complets au Golf du Médoc
                        </p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6">
                    <div class="p-6 ">

                        <p class="title-2 font-bold">9 Intervenants</p>
                        <p class="body-2">
                            dont 1 invité surprise
                        </p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6">
                    <div class="p-6">

                        <p class="title-2 font-bold">50 Participants</p>
                        <p class="body-2">
                            Motivés et prêts à changer de vie
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>

    {# INTERVENANTS #}
    <section class="mb-24 px-8 w-full">

        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5">QUI ?</span>
                    <h2 class="title-1">Les intervenants</h2>
                </div>
            </div>
        </div>
        <div class="grid mx-auto max-w-7xl lg:grid-cols-8 md:grid-cols-4 justify-center mb-12 ">
            <div data-aos="fade-up" class="flex col-span-2 mx-auto row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-auto w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/notaire.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">MAÎTRE ROBIN-VAYSSIERE</h3>
                            <p class="font-raleway font-medium text-white">Notaire</p>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up" class="flex col-span-2 mx-auto row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div  class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/thomas-miralles.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Thomas Miralles</h3>
                            <p class="font-raleway font-medium text-white">Courtier</p>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up" class="flex lg:col-span-4 mx-auto lg:row-span-2 col-span-2 row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/carolin-arthaud.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Carolin Arthaud</h3>
                            <p class="font-raleway font-medium text-white">Coach immobilier</p>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up" class="flex lg:col-span-4 mx-auto lg:row-span-2 col-span-2 row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/tony-jazz.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Tony Jazz</h3>
                            <p class="font-raleway font-medium text-white">Investisseur & Entrepreneur</p>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up" class="flex col-span-2 mx-auto row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-auto w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/leo-blanchet.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Léo Blanchet</h3>
                            <p class="font-raleway font-medium text-white">Investisseur immobilier</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="flex col-span-2 mx-auto row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/carolin-arthaud.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Christophe Tournier</h3>
                            <p class="font-raleway font-medium text-white">Agent immobilier</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="flex col-span-2 mx-auto row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-auto w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/thibault-epee.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">THIBAULT EPÉE</h3>
                            <p class="font-raleway font-medium text-white">Fondateur du Club rentabilité</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="flex col-span-2 mx-auto row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-auto w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/mathieu-kirios.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Mathieu Quiros</h3>
                            <p class="font-raleway font-medium text-white">Investisseur immobilier</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="flex col-span-2 mx-auto row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/michael-ballot.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">Micahel Ballot</h3>
                            <p class="font-raleway font-medium text-white">Investisseur & Coach</p>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-up" class="flex col-span-2 mx-auto row-span-1 px-4 m-3 w-full md:hover:scale-105   transition-all transform duration-300">
                <div class="w-full h-auto relative">
                    <img class="h-full w-full  rounded-lg object-cover"
                         src="{{ asset('build/images/intervenants/invite-surprise.webp') }}"
                         alt="">
                    <div class="absolute h-full mx-auto w-full p-6 inset-0 bg-gradient-to-t flex items-end justify-start from-gray-900 rounded-lg">
                        <div class="">
                            <h3 class="subtitle-2 text-white">???</h3>
                            <p class="font-raleway font-medium text-white">Invité mystère</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>

    {# DATE #}
    <section class="pt-20 pb-24 bg-gray-900 text-white">
        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-2xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5 text-white">QUAND ?</span>
                    <h2 class="title-1 text-white">Du 27 au 28 Mars 2021</h2>
                </div>
            </div>
        </div>
    </section>

    {# LIEU #}
    <section class="bg-gray-100 m-0">
        <div class="py-32 max-w-5xl mx-auto  radius-for-skewed ">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center -mx-4">
                    <div class="mb-12 lg:mb-0 w-full lg:w-1/2 px-4">
                        <div class="max-w-md">
                            <span class="subtitle-2 inline-block">Où ?</span>
                            <h2 class="title-1 my-6">Le Golf du Médoc</h2>
                            <span class="body-3 font-bold">Chemin de Courmateau -
                                33290 Le Pian Médoc - France</span><br><br>
                            <p class="body-2">Le <a href="">Golf du Médoc</a> est un lieu d’exception aux plus beaux
                                horizons.
                                Une destination incontournable alliant golf, gastronomie, dégustation et détente entre
                                l’estuaire et l’océan.
                            </p>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <div class="mb-4 flex flex-wrap items-end">
                            <div class=" mb-4 lg:mb-0 w-full lg:w-2/3 px-3">
                                <img class="tagline w-full h-48 lg:h-32 lg:h-48 object-cover"
                                     src="{{ asset('build/images/seminaire/1.webp') }}"
                                     alt=""></div>
                            <div class="w-full lg:w-1/3 px-3">
                                <img class="punchline w-full h-48 lg:h-32 object-cover"
                                     src="{{ asset('build/images/seminaire/2.webp') }}"
                                     alt=""></div>
                        </div>
                        <div class=" flex flex-wrap items-start">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/3 px-3">
                                <img class="headline w-full h-48 lg:h-32 object-cover"
                                     src="{{ asset('build/images/seminaire/3.webp') }}"
                                     alt=""></div>
                            <div class="w-full lg:w-2/3 px-3">
                                <img class="highline w-full h-48 lg:h-32 lg:h-48 object-cover"
                                     src="{{ asset('build/images/seminaire/4.webp') }}"
                                     alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {# PROGRAMME #}
    <section class="">
        <div class="max-w-5xl px-4 mx-auto">
            <div class="flex flex-wrap items-center -mx-3">
                <div class="w-full lg:w-1/2 px-3">
                    <div class="py-12">
                        <div class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-12 text-center lg:text-left">

                            <span class="subtitle-2 inline-block">QUOI ?</span>
                            <h2 class="title-1 my-6">Le Programme</h2>


                        </div>
                        <div class="text-left flex flex-wrap md:flex-nowrap justify-stretch md:justify-start block my-8">
                            <a class="w-full md:w-auto" href="#">
                                   <button class="btn-1 text-white bg-gray-900 hover:bg-pink-600">S'inscrire</button>
                            </a>
                            <a class="w-full md:w-auto mt-6 md:mt-0 md:ml-6" target="_blank" href="{{ asset('build/files/seminaire-immobilier-2021.pdf') }}">
                                <button class="btn-1 bg-gray-300 hover:bg-gray-800">Télécharger le programme</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-3 mb-12 lg:mb-0">
                    <div class="lg:h-128 flex items-center justify-center"><img class="lg:max-w-lg"
                                                                                src="metis-assets/illustrations/work-tv.png"
                                                                                alt=""></div>
                </div>
            </div>
        </div>

    </section>

    {# PROGRAMME J 1 #}
    <div class="bg-white max-w-5xl mx-auto overflow-hidden">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="subtitle-2">
                Samedi 27 Mars 2021
            </h3>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        08h00 - 08h45
                    </dt>
                    <dd class="body-2 col-span-3">
                        Petit déjeuner de bienvenue
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        08h45 - 09h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Présentation du séminaire par Michael Ballot
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        09h00 – 10h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Christophe Tournier, agent immobilier
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        10h00 - 11h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Maître Robin-Vayssière, notaire
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        11h00 - 11h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Pause & échanges
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        11h30 - 12h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Léo Blanchet, investisseur et marchand de biens
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        12h30 – 14h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Pause déjeuner
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        14h00 - 15h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Tony Jazz, investisseur et entrepreneur
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        15h00 – 16h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Julien Tomassi, comptable et fiscaliste
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        16h00 – 16h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Pause & échanges
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        16h30 – 17h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Carolin Arthaud marchand de bien, promoteur et formateur
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        17h00 – 18h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Echanges, conclusion et bilan
                    </dd>
                </div>


            </dl>
        </div>
    </div>

    {# JOUR 2 #}
    <div class="bg-white my-12 max-w-5xl mx-auto overflow-hidden">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="subtitle-2">
                Dimanche 28 Mars 2021
            </h3>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        08h00 - 09h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Petit déjeuner
                    </dd>
                </div>

                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        09h00 – 10h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Michael Ballot, investisseur et coach
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        10h00 - 11h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Thomas Miralles, courtier
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        11h00 - 11h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Pause & échanges
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        11h30 - 12h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Mathieu Quiros, investisseur et chasseur immobilier, revenue manager
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        12h30 – 14h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Pause déjeuner
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        14h00 - 15h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Un intervenant surprise va venir vous raconter son histoire
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        15h00 – 16h00
                    </dt>
                    <dd class="body-2 col-span-3">
                        Intervention de Thibault Epée, investisseur, formateur et fondateur du club rentabilité
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        16h00 – 16h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Pause & échanges
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        16h30 – 17h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Carolin Arthaud marchand de bien, promoteur et formateur
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="body-2 font-semibold">
                        17h00 – 18h30
                    </dt>
                    <dd class="body-2 col-span-3">
                        Réponse aux questions, conclusion et bilan
                    </dd>
                </div>


            </dl>
        </div>
    </div>
    {# INSCRIPTION #}


    <section class="bg-cover bg-no-repeat py-20 bg-6 bg-fixed">

        <div class="container mx-auto px-4">
            <div class="max-w-xl mx-auto text-center">

                <a href="" class="my-12 block">
                    <button class="btn-1 text-white bg-gray-900 hover:bg-pink-600">Je m'inscris</button>
                </a>
            </div>
        </div>

    </section>


{% endblock %}
