{% extends 'base.html.twig' %}


{% block body %}
    <section class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24 mt-24">
        <div class="relative max-w-xl mx-auto">

            <div class="text-center">
                <h2 class="text-gray-900 title-1">
                    Vous avez une question ?
                </h2>
                <p class="mt-4 body-1 text-gray-500">
                    Envoyez-moi directement un message, je serai ravi de vous répondre et de vous aider dans vos choix immobiliers.
                </p>
            </div>

            {{ form_start(our_form) }}
            <div class="mt-12">
                <form method="POST" class="contact-form grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                    <div class="sm:col-span-2 font-raleway uppercase">
                        {{ form_row(our_form.fullName) }}
                    </div>
                    <div class="sm:col-span-2 font-raleway uppercase">
                        {{ form_row(our_form.email) }}
                    </div>
                    <div class="sm:col-span-2 font-raleway uppercase">
                        {{ form_row(our_form.tel) }}
                    </div>
                    <div class="sm:col-span-2 font-raleway uppercase">
                        {{ form_row(our_form.message) }}
                    </div>

                    <div class="sm:col-span-2">
                        <div class="flex items-start">
                            <div class="flex-shrink-0">
                                {{ form_row(our_form.check) }}
                            </div>
                            <div class="ml-3">
                                <p class="text-base text-gray-500 mb-8">
                                    En cliquant sur ce lien, vous acceptez que vos informations personnelles soient utilisées dans le cadre des
                                    <a href="{{ asset('build/files/cgu.pdf') }}" class="font-medium text-gray-700 underline">Conditions générales d'utilisation</a>

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <button type="submit" value="Send" class="btn-1 bg-gray-900 hover:bg-gray-500 text-white">
                            Envoyer
                        </button>
                    </div>
                    {{ form_rest(our_form) }}
                    {{ form_end(our_form) }}
                </form>
            </div>

        </div>
    </section>




{% endblock %}