<section class="max-w-3xl mx-auto my-24">
    <h3 class="title-2 text-center text-gray-900">Ils se sont formés et ont investis</h3>
    <div data-controller="carousel" class="swiper-container"
         data-carousel-options-value='{ "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" } }'>
        <div class="swiper-wrapper">
            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/audrey.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Audrey</h3>
                            <p class="text-gray-600 body-2">A acheté un immeuble de 6 appartements grâce à un <a
                                        href=href="{{ path('coaching') }}" class="underline">coaching personnalisé</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/nathan.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Nathan</h3>
                            <p class="text-gray-600 body-2">Depuis qu'il a rejoint <a href="{{ path('coaching') }}" class="underline">The
                                    School Investment</a>, Nathan a acheté une maison double, un terrain avec une
                                maison à rénover et un terrain à la découpe pour revente. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/severine-place.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Séverine</h3>
                            <p class="text-gray-600 body-2">S'est lancée dans la location Airbnb en achentat 2
                                studettes grâce à un <a
                                        href="{{ path('coaching') }}" class="underline">accompagnement personnalisé</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/julien.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Julien</h3>
                            <p class="text-gray-600 body-2">Vient d'acheter sa résidence principale et un garage
                                qu'il souhaite rénover et louer en Airbnb.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/christophe.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Christophe</h3>
                            <p class="text-gray-600 body-2">A passé sa résidence principale en SCI et est
                                actuellement en train d'acheter un immeuble pour faire 6 logements grâce notamment à
                                la <a
                                        href="{{ path('immeuble') }}" class="underline">formation immeuble de rapport</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/celine.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Céline</h3>
                            <p class="text-gray-600 body-2">Est en train d'acheter un immeuble pour en faire 5
                                logements qu'elle mettra à la location</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/jerome.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Jêrome</h3>
                            <p class="text-gray-600 body-2">A acheté un immeuble de 8 appartements et est en train
                                de réserver un terrain à Bali (Indonésie) pour y construire une maison. Il est
                                actuellement à la recherche d'un autre <a
                                        href="{{ path('coaching') }}" class="underline">immeuble à l'investissement</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/xavier.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Xavier</h3>
                            <p class="text-gray-600 body-2">Recherche actuellement un bien pour faire de la
                                colocation</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/frank.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Frank</h3>
                            <p class="text-gray-600 body-2">Est à la recherche d'un immeuble pour faire minimum 4
                                lots</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/pierre.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Pierre</h3>
                            <p class="text-gray-600 body-2">Recherche actuellement un immeuble à acheter</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/valentin.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Valentin</h3>
                            <p class="text-gray-600 body-2">Souhaite trouver un bien à acheter pour le rénover, le
                                louer et le revendre</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cursor-pointer">
                <div class="h-64 flex justify-center items-center">
                    <div class="flex items-center space-x-4 lg:space-x-6 p-5">
                        <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                             src="{{ asset('build/images/clients/Justine.webp') }}"
                             alt="client de michaelballot.fr">
                        <div class="font-medium max-w-md text-lg leading-6 space-y-1">
                            <h3 class="subtitle-2">Justine</h3>
                            <p class="text-gray-600 body-2">Veut faire un opération de marchand de bien (achat -
                                revente) sur un immeuble</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-prev swiper-button-black"></div>
    </div>

</section>