<!--------------------- DESKTOP MENU --------------------->

<div x-data="{ mobileMenuOpen: false }" class="bg-white fixed top-0 w-screen z-40 shadow-sm">
    <div class="w-full mx-auto px-4 sm:px-5">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:flex max-w-7xl mx-auto justify-between items-center  py-6 items-center  lg:space-x-10">

            {# LOGO #}
            <div class="flex md:order-1 lg:order-0 md:mx-auto justify-start md:justify-center lg:justify-start">
                <a href="{{ path('homepage') }}">
                    <span class="sr-only">Michael Ballot Formation</span>
                    <img class="h-auto max-h-12 hidden lg:block w-auto"
                         src="{{ asset('build/images/logo/michael-ballot-logo.png') }}"
                         alt="Logo Michael Ballot formation : coaching et formation en investissement immobilier">
                    <img class="h-8 w-auto lg:hidden sm:h-10" src="{{ asset('build/images/logo/logo michael ballot.png') }}"
                         alt="Logo Michael Ballot formation : coaching et formation en investissement immobilier">
                </a>
            </div>

            {# BURGER MENU OPEN #}
            <div class="-mr-2 -my-2 md:order-0 justify-self-end md:justify-self-start lg:hidden"
                 @click="mobileMenuOpen = true">
                <button type="button"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                    <span class="sr-only">Ouvrir le menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </button>
            </div>
            <nav class="hidden lg:order-1 w-full lg:flex justify-center justify-self-start mx-auto space-x-10 ">

                {# Flyout Menu of "Formations" #}

                <div x-data="{ flyoutMenuOpen: false }" x-cloak class="relative">
                    <div @mouseover="flyoutMenuOpen = true" @mouseover.away.debounce.350ms="flyoutMenuOpen = false" @click="flyoutMenuOpen = false">
                        <button type="button"
                                x-state:on="Item active" x-state:off="Item inactive"
                                :class="{ 'text-gray-900': flyoutMenuOpen, 'text-gray-500': !flyoutMenuOpen }"
                                class="text-gray-500 inline-flex items-center body-2 hover:text-gray-900 hover:font-semi-bold">
                            <a href="{{ path('formations') }}">Formations</a>
                            <svg x-state:on="Item active" x-state:off="Item inactive"
                                 class="ml-2 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                                 x-bind:class="{ 'text-gray-600': flyoutMenuOpen, 'text-gray-400': !flyoutMenuOpen }"
                                 x-description="Heroicon name: solid/chevron-down" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>

                        <div x-description="Flyout menu, show/hide based on flyout menu state." x-show="flyoutMenuOpen"
                             x-transition:enter="transition ease-out duration-200"
                             x-transition:enter-start="opacity-0 translate-y-1"
                             x-transition:enter-end="opacity-100 translate-y-0"
                             x-transition:leave="transition ease-in duration-150"
                             x-transition:leave-start="opacity-100 translate-y-0"
                             x-transition:leave-end="opacity-0 translate-y-1"
                             class="absolute -ml-6 z-10 transform mt-3 px-2 w-screen max-w-md sm:px-0 lg:max-w-3xl">
                            <div class="rounded-lg overflow-hidden">
                                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8 lg:grid-cols-2">

                                    <a href="{{ path('bon') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">
                                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-gray-900 text-white sm:h-12 sm:w-12">
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="33.503"
                                                 height="47.931" viewBox="0 0 33.503 47.931">
                                                <g id="Location" transform="translate(-5 -2)">
                                                    <path id="Tracé_32" data-name="Tracé 32"
                                                          d="M13.451,4.242a16.487,16.487,0,0,1,16.835.139,17.542,17.542,0,0,1,8.216,15c-.119,6.079-3.462,11.794-7.639,16.212a44.815,44.815,0,0,1-8.038,6.748,2.808,2.808,0,0,1-.975.345,1.961,1.961,0,0,1-.935-.284A44.306,44.306,0,0,1,9.337,31.516,22.206,22.206,0,0,1,5,19.073,17.122,17.122,0,0,1,13.451,4.242Zm3.021,17.369a5.69,5.69,0,0,0,5.259,3.582,5.6,5.6,0,0,0,4.028-1.678,5.874,5.874,0,0,0-1.837-9.466,5.614,5.614,0,0,0-6.208,1.243A5.875,5.875,0,0,0,16.473,21.611Z"
                                                          fill="#fff" fill-rule="evenodd"/>
                                                    <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="12" cy="2.5"
                                                             rx="12" ry="2.5" transform="translate(9.751 44.931)"
                                                             fill="#fff" opacity="0.4"/>
                                                </g>
                                            </svg>


                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                Trouver le bon bien
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Vous n'osez pas vous lancer dans un investissement car vous n'êtes pas
                                                certain d'avoir trouvé le bon bien.
                                            </p>
                                        </div>
                                    </a>

                                    <a href="{{ path('dossier') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">
                                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-gray-900 text-white sm:h-12 sm:w-12">
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="42.866"
                                                 height="42.535" viewBox="0 0 42.866 42.535">
                                                <g id="Duotone" transform="translate(-2 -2.154)">
                                                    <path id="Tracé_33" data-name="Tracé 33"
                                                          d="M6.287,10H14.86V25h4.287V10h8.573V25h4.287V10h8.573V25a4.286,4.286,0,0,1,4.287,4.287v2.143a4.286,4.286,0,0,1-4.287,4.287H6.287A4.287,4.287,0,0,1,2,31.433V29.29A4.287,4.287,0,0,1,6.287,25Z"
                                                          transform="translate(0 8.97)" fill="#fff" opacity="0.4"/>
                                                    <path id="Tracé_34" data-name="Tracé 34"
                                                          d="M2,13.3a4.287,4.287,0,0,1,2.695-3.98L21.841,2.461a4.287,4.287,0,0,1,3.184,0L42.171,9.319a4.287,4.287,0,0,1,2.695,3.98v1.384a4.287,4.287,0,0,1-4.287,4.287H6.287A4.287,4.287,0,0,1,2,14.684Z"
                                                          transform="translate(0 0)" fill="#fff"/>
                                                </g>
                                            </svg>

                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                Réussir son dossier bancaire
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Vous souhaitez investir mais vous pensez que les banques ne vous
                                                prêteront
                                                pas.
                                            </p>
                                        </div>
                                    </a>



                                    <a href="{{ path('maison') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">
                                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-gray-900 text-white sm:h-12 sm:w-12">
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="82.975"
                                                 height="74.846" viewBox="0 0 82.975 74.846">
                                                <g id="Duotone" transform="translate(-1 -2.155)">
                                                    <path id="Tracé_15" data-name="Tracé 15"
                                                          d="M64.344,64.932V19.07L40.4,4.644h0C38.136,3.28,37,2.6,35.8,2.332a7.542,7.542,0,0,0-3.247,0c-1.209.266-2.341.948-4.605,2.313L4,19.07V64.932c0,4.224,0,6.337.822,7.95a7.542,7.542,0,0,0,3.3,3.3C9.732,77,11.844,77,16.069,77H52.275c4.224,0,6.337,0,7.95-.822a7.542,7.542,0,0,0,3.3-3.3C64.344,71.269,64.344,69.157,64.344,64.932Z"
                                                          transform="translate(8.315)" fill="#fff" opacity="0.4"/>
                                                    <path id="Tracé_16" data-name="Tracé 16"
                                                          d="M1.538,29.88a3.772,3.772,0,0,0,5.174,1.294L42.487,9.709,78.262,31.174a3.772,3.772,0,1,0,3.881-6.468L46.368,3.241a7.543,7.543,0,0,0-7.762,0L2.831,24.706A3.772,3.772,0,0,0,1.538,29.88Z"
                                                          transform="translate(0 0.031)" fill="#fff"
                                                          fill-rule="evenodd"/>
                                                    <path id="Tracé_17" data-name="Tracé 17"
                                                          d="M9,24.315a11.315,11.315,0,1,1,22.629,0V46.944H9Z"
                                                          transform="translate(22.173 30.057)" fill="#fff"/>
                                                </g>
                                            </svg>

                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                Construire la maison de ses rêves
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Avant de se lancer dans un projet de construction, il est essentiel de
                                                connaître les outils clés.
                                            </p>
                                        </div>
                                    </a>

                                    <a href="{{ path('double') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">
                                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-gray-900 text-white sm:h-12 sm:w-12">
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="89.7"
                                                 height="78" viewBox="0 0 89.7 78">
                                                <g id="Group_33486" data-name="Group 33486"
                                                   transform="translate(-2.5 -2)">
                                                    <path id="Tracé_33" data-name="Tracé 33"
                                                          d="M28.41,75.25V63.289a5.532,5.532,0,0,1,5.517-5.512H45.137a5.532,5.532,0,0,1,5.552,5.512V75.215A4.8,4.8,0,0,0,55.473,80h7.647a13.5,13.5,0,0,0,9.529-3.9,13.3,13.3,0,0,0,3.95-9.45V32.677a9.644,9.644,0,0,0-3.492-7.419L47.128,4.63a12.15,12.15,0,0,0-15.435.277L6.271,25.258A9.65,9.65,0,0,0,2.5,32.677V66.617A13.431,13.431,0,0,0,15.979,80h7.473a4.8,4.8,0,0,0,3.405-1.379,4.732,4.732,0,0,0,1.414-3.371Z"
                                                          transform="translate(0 0)" fill="#fff"/>
                                                    <g id="Groupe_369" data-name="Groupe 369"
                                                       transform="translate(18.1 2)" opacity="0.4">
                                                        <path id="Tracé_34" data-name="Tracé 34"
                                                              d="M32.41,75.25V63.289a5.532,5.532,0,0,1,5.517-5.512H49.137a5.532,5.532,0,0,1,5.552,5.512h0V75.215A4.8,4.8,0,0,0,59.473,80h7.647a13.5,13.5,0,0,0,9.529-3.9,13.3,13.3,0,0,0,3.95-9.45V32.677a9.644,9.644,0,0,0-3.492-7.419L51.128,4.63a12.15,12.15,0,0,0-15.435.277L10.271,25.258A9.65,9.65,0,0,0,6.5,32.677V66.617A13.431,13.431,0,0,0,19.979,80h7.473a4.8,4.8,0,0,0,3.405-1.379,4.731,4.731,0,0,0,1.413-3.371Z"
                                                              transform="translate(-6.5 -2)" fill="#fff"/>
                                                    </g>
                                                </g>
                                            </svg>


                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                La double construction
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Faire construire deux maisons en même temps pour faire des économies sur
                                                votre opération.
                                            </p>
                                        </div>
                                    </a>
                                    <a href="{{ path('immeuble') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">
                                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-gray-900 text-white sm:h-12 sm:w-12">
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="81.471"
                                                 height="81.471" viewBox="0 0 81.471 81.471">
                                                <g id="Duotone" transform="translate(-2 -2)">
                                                    <path id="Tracé_18" data-name="Tracé 18"
                                                          d="M14,18.147A8.147,8.147,0,0,1,22.147,10H38.441a8.147,8.147,0,0,1,8.147,8.147V50.735a8.147,8.147,0,0,1-8.147,8.147H22.147A8.147,8.147,0,0,1,14,50.735Z"
                                                          transform="translate(36.882 24.588)" fill="#fff"
                                                          opacity="0.4"/>
                                                    <path id="Tracé_19" data-name="Tracé 19"
                                                          d="M25.147,18.074a4.074,4.074,0,1,0-4.074,4.074A4.073,4.073,0,0,0,25.147,18.074Z"
                                                          transform="translate(46.103 36.882)" fill="#fff"/>
                                                    <path id="Tracé_20" data-name="Tracé 20"
                                                          d="M25.147,21.074a4.074,4.074,0,1,0-4.074,4.074A4.073,4.073,0,0,0,25.147,21.074Z"
                                                          transform="translate(46.103 46.103)" fill="#fff"/>
                                                    <path id="Tracé_21" data-name="Tracé 21"
                                                          d="M2,10.147A8.147,8.147,0,0,1,10.147,2H34.588a8.147,8.147,0,0,1,8.147,8.147V75.324a8.147,8.147,0,0,1-8.147,8.147H10.147A8.147,8.147,0,0,1,2,75.324Z"
                                                          transform="translate(0 0)" fill="#fff" opacity="0.4"/>
                                                    <path id="Tracé_22" data-name="Tracé 22"
                                                          d="M21.294,10.074A4.074,4.074,0,0,0,17.221,6H9.074a4.074,4.074,0,0,0,0,8.147h8.147A4.074,4.074,0,0,0,21.294,10.074Z"
                                                          transform="translate(9.221 12.294)" fill="#fff"/>
                                                    <path id="Tracé_23" data-name="Tracé 23"
                                                          d="M21.294,14.074A4.074,4.074,0,0,0,17.221,10H9.074a4.074,4.074,0,1,0,0,8.147h8.147A4.074,4.074,0,0,0,21.294,14.074Z"
                                                          transform="translate(9.221 24.588)" fill="#fff"/>
                                                    <path id="Tracé_24" data-name="Tracé 24"
                                                          d="M17.221,14a4.074,4.074,0,1,1,0,8.147H9.074a4.074,4.074,0,0,1,0-8.147Z"
                                                          transform="translate(9.221 36.882)" fill="#fff"/>
                                                    <path id="Tracé_25" data-name="Tracé 25"
                                                          d="M21.294,22.074A4.074,4.074,0,0,0,17.221,18H9.074A4.074,4.074,0,0,0,5,22.074V32.257a2.037,2.037,0,0,0,2.037,2.037H19.257a2.037,2.037,0,0,0,2.037-2.037Z"
                                                          transform="translate(9.221 49.177)" fill="#fff"/>
                                                </g>
                                            </svg>

                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                Achetez votre premier immeuble
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Acheter un immeuble et rentabiliser cet investissement en moins d’un an
                                                est
                                                possible.
                                            </p>
                                        </div>
                                    </a>

                                    <a href="{{ path('formations') }}"
                                       class="-m-3 p-3 flex items-center rounded-lg">


                                        <button class="mx-auto btn-1 text-white bg-gray-100 hover:bg-gray-200 text-gray-900">
                                            Toutes les formations
                                        </button>
                                    </a>

                                </div>

                                <div class="p-5 bg-gray-100 sm:p-8">
                                    <a href="{{ path('pack') }}"
                                       class="-m-3 p-3 flow-root rounded-md hover:bg-gray-200 transition ease-in-out duration-150">
                                            <span class="flex items-center">
                                                <span class="text-lg font-bold text-gray-900 font-playfair">
                                                    Pack de 5 formations
                                                </span>
                                                <span class="ml-3 inline-flex font-raleway uppercase items-center px-3 py-0.5 rounded-full text-xs font-medium leading-5 bg-pink-50 text-pink-600">
                                                    - 33% réduction
                                                </span>
                                            </span>
                                        <span class="mt-1 block text-sm text-gray-500 font-raleway">
                                            Devenez rentier immobillier et vivez de vos investissements.
                                            </span>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div x-data="{ flyoutMenuOpen: false }" x-cloak class="relative">
                    <div @mouseover="flyoutMenuOpen = true" @mouseover.away.debounce.350ms="flyoutMenuOpen = false" @click="flyoutMenuOpen = false">
                        <button type="button"
                                x-state:on="Item active" x-state:off="Item inactive"
                                :class="{ 'text-gray-900': flyoutMenuOpen, 'text-gray-500': !flyoutMenuOpen }"
                                class="text-gray-500 inline-flex items-center body-2 hover:text-gray-900 hover:font-semi-bold">
                            <a href="{{ path('service') }}">Services</a>
                            <svg x-state:on="Item active" x-state:off="Item inactive"
                                 class="ml-2 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                                 x-bind:class="{ 'text-gray-600': flyoutMenuOpen, 'text-gray-400': !flyoutMenuOpen }"
                                 x-description="Heroicon name: solid/chevron-down" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>

                        <div x-description="Flyout menu, show/hide based on flyout menu state." x-show="flyoutMenuOpen"
                             x-transition:enter="transition ease-out duration-200"
                             x-transition:enter-start="opacity-0 translate-y-1"
                             x-transition:enter-end="opacity-100 translate-y-0"
                             x-transition:leave="transition ease-in duration-150"
                             x-transition:leave-start="opacity-100 translate-y-0"
                             x-transition:leave-end="opacity-0 translate-y-1"
                             class="absolute -ml-6 z-10 transform mt-3 px-2 w-screen max-w-md sm:px-0 lg:max-w-3xl">
                            <div class="rounded-lg overflow-hidden">
                                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8 lg:grid-cols-2">

                                    <a href="{{ path('silver') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">

                                            <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 sm:h-12 sm:w-12">
                                                <svg class="flex-shrink-0 h-auto w-7"
                                             xmlns="http://www.w3.org/2000/svg" width="82.97" height="95.806" viewBox="0 0 82.97 95.806">
                                                <path id="Tracé_20" data-name="Tracé 20" d="M75.782,0,34.3,23.951v47.9L75.782,95.806l41.485-23.951v-47.9Z" transform="translate(-34.297)" fill="#82d2ff"/>
                                                <path id="Tracé_21" data-name="Tracé 21" d="M75.782,47.9V0L34.3,23.951Z" transform="translate(-34.297)" fill="#08b7fc"/>
                                                <path id="Tracé_22" data-name="Tracé 22" d="M256,256Z" transform="translate(-214.515 -208.097)" fill="#82d2ff"/>
                                                <path id="Tracé_23" data-name="Tracé 23" d="M34.3,128v47.9l41.485-23.951Z" transform="translate(-34.297 -104.049)" fill="#006dff"/>
                                                <path id="Tracé_24" data-name="Tracé 24" d="M297.485,128h0L256,151.951h0L297.485,175.9h0Z" transform="translate(-214.515 -104.049)" fill="#08b7fc"/>
                                                <path id="Tracé_25" data-name="Tracé 25" d="M75.782,256,34.3,279.951,75.782,303.9Z" transform="translate(-34.297 -208.097)" fill="#0050c0"/>
                                                <path id="Tracé_26" data-name="Tracé 26" d="M256,303.9l41.485-23.951L256,256Z" transform="translate(-214.515 -208.097)" fill="#006dff"/>
                                                <path id="Tracé_27" data-name="Tracé 27" d="M177.7,152.075V125.04l-23.413-13.517L130.879,125.04v27.034l23.413,13.517Z" transform="translate(-112.807 -90.655)" fill="#82d2ff"/>
                                                <path id="Tracé_28" data-name="Tracé 28" d="M279.413,152.075V125.04L256,111.523v54.069Z" transform="translate(-214.515 -90.655)" fill="#55cbff"/>
                                            </svg>



                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                Silver
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Vous n'osez pas vous lancer dans un investissement car vous n'êtes pas
                                                certain d'avoir trouvé le bon bien.
                                            </p>
                                        </div>
                                    </a>

                                    <a href="{{ path('gold') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">
                                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 sm:h-12 sm:w-12">
                                            <svg class="flex-shrink-0 h-auto w-8"
                                            xmlns="http://www.w3.org/2000/svg" width="95.806" height="83.754" viewBox="0 0 95.806 83.754">
                                                <g id="gem_1_" data-name="gem (1)" transform="translate(0 0)">
                                                    <path id="Tracé_11" data-name="Tracé 11" d="M70.392,32.2H25.415a2.926,2.926,0,0,0-2.534,1.463L.392,72.617a2.926,2.926,0,0,0,0,2.926l22.489,38.951a2.926,2.926,0,0,0,2.534,1.463H70.392a2.926,2.926,0,0,0,2.534-1.463L95.414,75.543a2.926,2.926,0,0,0,0-2.926L72.925,33.666A2.926,2.926,0,0,0,70.392,32.2Z" transform="translate(0 -32.203)" fill="#ffd45d"/>
                                                    <path id="Tracé_12" data-name="Tracé 12" d="M366.3,256H347.124L332.76,280.878l9.588,16.607a2.923,2.923,0,0,0,1.071-1.071l22.489-38.951A2.922,2.922,0,0,0,366.3,256Z" transform="translate(-270.494 -214.123)" fill="#ff6500"/>
                                                    <path id="Tracé_13" data-name="Tracé 13" d="M166.315,388.953H137.588L128,405.56a2.924,2.924,0,0,0,1.463.392H174.44a2.924,2.924,0,0,0,1.463-.392Z" transform="translate(-104.049 -322.198)" fill="#ff9416"/>
                                                    <path id="Tracé_14" data-name="Tracé 14" d="M33.539,280.878,19.176,256H0a2.923,2.923,0,0,0,.392,1.463l22.489,38.951a2.924,2.924,0,0,0,1.071,1.071Z" transform="translate(0 -214.123)" fill="#ffc13f"/>
                                                    <path id="Tracé_15" data-name="Tracé 15" d="M33.539,50.9,23.951,34.3a2.923,2.923,0,0,0-1.071,1.071L.392,74.319A2.922,2.922,0,0,0,0,75.782H19.176Z" transform="translate(0 -33.905)" fill="#ffd45d"/>
                                                    <path id="Tracé_16" data-name="Tracé 16" d="M137.588,49.2h28.727L175.9,32.594a2.924,2.924,0,0,0-1.463-.392H129.463a2.924,2.924,0,0,0-1.463.392Z" transform="translate(-104.049 -32.202)" fill="#ffc13f"/>
                                                    <path id="Tracé_17" data-name="Tracé 17" d="M332.76,50.9l14.364,24.878H366.3a2.922,2.922,0,0,0-.392-1.463L343.419,35.368a2.923,2.923,0,0,0-1.071-1.071Z" transform="translate(-270.494 -33.905)" fill="#ff9416"/>
                                                    <path id="Tracé_18" data-name="Tracé 18" d="M145.569,123.047H116.842l-14.363,24.878L116.842,172.8h28.727l14.363-24.878Z" transform="translate(-83.303 -106.048)" fill="#ff7b05"/>
                                                </g>
                                            </svg>


                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                Gold
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Vous souhaitez investir mais vous pensez que les banques ne vous
                                                prêteront
                                                pas.
                                            </p>
                                        </div>
                                    </a>

                                    <a href="{{ path('platinium') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">
                                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 sm:h-12 sm:w-12">
                                            <svg class="flex-shrink-0 h-auto w-8"
                                             xmlns="http://www.w3.org/2000/svg" width="95.806" height="95.806" viewBox="0 0 95.806 95.806">
                                                <path id="Tracé_29" data-name="Tracé 29" d="M101.744,143.363,76,117.62V101.744L101.744,76H117.62l25.744,25.744V117.62L117.62,143.363Z" transform="translate(-61.779 -61.779)" fill="#eabfff"/>
                                                <path id="Tracé_30" data-name="Tracé 30" d="M256,76v67.363h7.938l25.744-25.744V101.744L263.938,76Z" transform="translate(-208.097 -61.779)" fill="#cb99ff"/>
                                                <g id="Gem_17_" transform="translate(0.169 0.169)">
                                                    <g id="Groupe_2" data-name="Groupe 2">
                                                        <path id="Tracé_31" data-name="Tracé 31" d="M43.022,298.334l2.33,10.011L36.51,318a2.169,2.169,0,0,1-1.067-.674L1.575,283.458A2.168,2.168,0,0,1,.9,282.391l9.842-8.841,9.824,2.33Z" transform="translate(-0.901 -222.532)" fill="#cb99ff"/>
                                                        <path id="Tracé_32" data-name="Tracé 32" d="M318,282.392a2.169,2.169,0,0,1-.674,1.067l-33.869,33.869a2.169,2.169,0,0,1-1.067.674l-8.841-9.655,2.33-10.011,22.454-22.454,9.824-2.329Z" transform="translate(-222.532 -222.533)" fill="#b58dff"/>
                                                        <path id="Tracé_33" data-name="Tracé 33" d="M318,36.51l-9.842,8.841-9.824-2.33L275.88,20.567l-2.33-9.824L282.391.9a2.168,2.168,0,0,1,1.067.674l33.869,33.869A2.168,2.168,0,0,1,318,36.51Z" transform="translate(-222.532 -0.901)" fill="#b58dff"/>
                                                        <path id="Tracé_34" data-name="Tracé 34" d="M43.022,20.567,20.567,43.022l-8.852,2.655L.9,36.51a2.169,2.169,0,0,1,.674-1.067L35.443,1.575A2.169,2.169,0,0,1,36.51.9l9.161,10.8Z" transform="translate(-0.901 -0.901)" fill="#cb99ff"/>
                                                    </g>
                                                </g>
                                                <path id="Tracé_35" data-name="Tracé 35" d="M19.835,197.713V208.94L.169,215.451a2.537,2.537,0,0,1-.169-.9V192.1a2.537,2.537,0,0,1,.169-.9Z" transform="translate(0 -155.423)" fill="#b58dff"/>
                                                <path id="Tracé_36" data-name="Tracé 36" d="M215.451.169,208.94,19.835H197.713L191.2.169A2.537,2.537,0,0,1,192.1,0h22.454a2.537,2.537,0,0,1,.9.169Z" transform="translate(-155.423 0)" fill="#b58dff"/>
                                                <path id="Tracé_37" data-name="Tracé 37" d="M425.835,192.1v22.454a2.537,2.537,0,0,1-.169.9L406,208.94V197.713l19.666-6.512A2.537,2.537,0,0,1,425.835,192.1Z" transform="translate(-330.029 -155.423)" fill="#8a73ff"/>
                                                <path id="Tracé_38" data-name="Tracé 38" d="M215.451,425.666a2.537,2.537,0,0,1-.9.169H192.1a2.537,2.537,0,0,1-.9-.169L197.713,406H208.94Z" transform="translate(-155.423 -330.029)" fill="#b58dff"/>
                                                <g id="Groupe_3" data-name="Groupe 3" transform="translate(47.903)">
                                                    <path id="Tracé_39" data-name="Tracé 39" d="M256,406v19.835h11.227a2.537,2.537,0,0,0,.9-.169L261.614,406Z" transform="translate(-256 -330.029)" fill="#8a73ff"/>
                                                    <path id="Tracé_40" data-name="Tracé 40" d="M256,0V19.835h5.614L268.125.169a2.537,2.537,0,0,0-.9-.169Z" transform="translate(-256)" fill="#8a73ff"/>
                                                </g>
                                            </svg>


                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                Platinium
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Acheter un immeuble et rentabiliser cet investissement en moins d’un an
                                                est
                                                possible.
                                            </p>
                                        </div>
                                    </a>

                                    <a href="{{ path('diamond') }}"
                                       class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50 transition ease-in-out duration-150">
                                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 sm:h-12 sm:w-12">
                                             <svg class="flex-shrink-0 h-auto w-8" xmlns="http://www.w3.org/2000/svg" width="95.806" height="84.204" viewBox="0 0 95.806 84.204">
                                                <path id="Tracé_1" data-name="Tracé 1" d="M127.971,31l-1.8,11.12L111.131,56.261,98.5,42.227l.169-10.89A2.135,2.135,0,0,1,99.9,31Z" transform="translate(-80.069 -31)" fill="#ecf2ff"/>
                                                <path id="Tracé_2" data-name="Tracé 2" d="M285.3,31.337l-.533,12.294L272.841,56.261,258.807,43.631,256,31h28.068A2.135,2.135,0,0,1,285.3,31.337Z" transform="translate(-208.097 -31)" fill="#d9e5ff"/>
                                                <path id="Tracé_3" data-name="Tracé 3" d="M199.682,56.261l-16.841,5.614L166,56.261,182.841,31Z" transform="translate(-134.938 -31)" fill="#d9e5ff"/>
                                                <path id="Tracé_4" data-name="Tracé 4" d="M272.841,56.261,256,31V61.875Z" transform="translate(-208.097 -31)" fill="#bfd6ff"/>
                                                <path id="Tracé_5" data-name="Tracé 5" d="M199.682,166l-1.6,25.261-15.237,33.682L167.6,191.261,166,166Z" transform="translate(-134.938 -140.739)" fill="#ecf2ff"/>
                                                <path id="Tracé_6" data-name="Tracé 6" d="M256,224.943l15.237-33.682,1.6-25.261H256Z" transform="translate(-208.097 -140.739)" fill="#d9e5ff"/>
                                                <g id="Diamond_12_" transform="translate(64.744 0.337)">
                                                    <g id="Groupe_1" data-name="Groupe 1">
                                                        <path id="Tracé_7" data-name="Tracé 7" d="M377.062,57.724l-15.625,5.614L346,57.724,358.462,32.8a2.286,2.286,0,0,1,1.011.786c6.119,8.14,10.909,14.315,17.028,22.454A2.527,2.527,0,0,1,377.062,57.724Z" transform="translate(-346 -32.8)" fill="#bfd6ff"/>
                                                    </g>
                                                </g>
                                                <path id="Tracé_8" data-name="Tracé 8" d="M31.062,57.724,15.625,63.338,0,57.724A2.527,2.527,0,0,1,.561,56.04C6.68,47.9,11.47,41.726,17.589,33.586A2.285,2.285,0,0,1,18.6,32.8Z" transform="translate(0 -32.463)" fill="#d9e5ff"/>
                                                <path id="Tracé_9" data-name="Tracé 9" d="M303.9,166a2.757,2.757,0,0,1-.617,1.74c-16.223,20.321-28.817,35.815-45.1,56.136A2.7,2.7,0,0,1,256,224.943L272.841,166Z" transform="translate(-208.097 -140.739)" fill="#b3c5ff"/>
                                                <path id="Tracé_10" data-name="Tracé 10" d="M47.9,224.943a2.7,2.7,0,0,1-2.189-1.067C29.434,203.555,16.841,188.061.618,167.74A2.756,2.756,0,0,1,0,166H31.062Z" transform="translate(0 -140.739)" fill="#bfd6ff"/>
                                             </svg>



                                        </div>
                                        <div class="ml-4">
                                            <p class="text-lg font-medium text-gray-900 font-playfair">
                                                Diamond
                                            </p>
                                            <p class="mt-1 text-sm text-gray-500 font-raleway">
                                                Avant de se lancer dans un projet de construction, il est essentiel de
                                                connaître les outils clés.
                                            </p>
                                        </div>
                                    </a>


                                </div>
                                <div class="p-5 bg-gray-100 sm:p-8">
                                    <a href="{{ path('service') }}"
                                       class="-m-3 p-3 flow-root rounded-md hover:bg-gray-200 transition ease-in-out duration-150">
            <span class="flex items-center">
              <span class="text-lg font-bold text-gray-900 font-playfair">
                Comparez les Offres
              </span>

            </span>
                                        <span class="mt-1 block text-sm text-gray-500 font-raleway">
              Trouvez le service qui correspond le mieux à votre objectif d'investissement
            </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {# Link to coaching page #}
                <a href="{{ path('coaching') }}"
                   class="text-gray-500 inline-flex items-center body-2 hover:text-gray-900 hover:font-semi-bold">
                    Coaching
                </a>

                {# Link to seminar page #}
                <a href="{{ path('seminaire') }}"
                   class="ttext-gray-500 inline-flex items-center body-2 hover:text-gray-900 hover:font-semi-bold">
                    Séminaire
                </a>

                {# Link to contact page #}
                <a href="{{ path('contact') }}"
                   class="text-gray-500 inline-flex items-center body-2 hover:text-gray-900 hover:font-semi-bold">
                    Contact
                </a>
            </nav>

            {# CTA #}
            <div class="hidden md:flex md:order-2 items-center justify-end md:flex-1 ">
                <a href="https://formation.michaelballot.fr/connexion/" target="_blank"
                   class="btn-1 text-white py-3 bg-gray-900 hover:bg-pink-600">
                    Connexion
                </a>
            </div>
        </div>

    </div>


    <!--------------------- MOBILE MENU --------------------->

    <div x-description="Mobile menu, show/hide based on mobile menu state." x-cloak x-show="mobileMenuOpen"
         x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95"
         x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in"
         x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95"
         class="absolute top-0  inset-x-0 p-2 transition transform origin-top-right lg:hidden">
        <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50 pb-3">
            <div class="pt-5 pb-6 px-5">
                <div class="flex items-center justify-end md:justify-start">

                    <div class="-mr-2">
                        <button @click="mobileMenuOpen = false" type="button"
                                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                            <span class="sr-only">Close menu</span>
                            <!-- Heroicon name: outline/x -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-6">
                    <nav class="grid gap-y-8">
                        <a @click="mobileMenuOpen = false" href="{{ path('homepage') }}"
                           class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50 text-pink-600">
                            <!-- Heroicon name: outline/chart-bar -->
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                            <span class="subtitle-2 ml-3">
                                Accueil
                            </span>
                        </a>

                        <a @click="mobileMenuOpen = false" href="{{ path('formations') }}"
                           class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50 text-pink-600">
                            <!-- Heroicon name: outline/chart-bar -->
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                                <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path>
                            </svg>
                            <span class="subtitle-2 ml-3 ">
                                Formations
                            </span>
                        </a>

                        <a @click="mobileMenuOpen = false" href="{{ path('coaching') }}"
                           class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50 text-pink-600">
                            <!-- Heroicon name: outline/cursor-click -->
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
                            </svg>
                            <span class="subtitle-2 ml-3">
                                Coaching
                              </span>
                        </a>

                        <a @click="mobileMenuOpen = false" href="{{ path('service') }}"
                           class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50 text-pink-600">
                            <!-- Heroicon name: outline/shield-check -->
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4"></path></svg>
                            <span class="subtitle-2 ml-3">
                                Services
                              </span>
                        </a>

                        <a @click="mobileMenuOpen = false" href="{{ path('seminaire') }}"
                           class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50 text-pink-600">
                            <!-- Heroicon name: outline/view-grid -->
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path>
                            </svg>
                            <span class="subtitle-2 ml-3">
                Séminaire
              </span>
                        </a>

                        <a @click="mobileMenuOpen = false" href="{{ path('contact') }}"
                           class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50 text-pink-600">
                            <!-- Heroicon name: outline/refresh -->
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                            </svg>
                            <span class="subtitle-2 ml-3">
                Contact
              </span>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="py-8 px-5">
                <div>
                    <a href="https://formation.michaelballot.fr/connexion/" target="_blank"
                       class="btn-1 text-white bg-pink-600 py-3">
                        Connexion
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
