{# PACK 5 FORMATIONS #}
<section class="py-8 lg:py-20 lg:my-24 max-w-5xl w-full mx-auto">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap md:flex-nowrap items-center justify-items-center mx-auto">
            <div data-aos="fade-right" class="mb-12 lg:mb-0 md:ml-12 block mx-auto md:w-1/2 px-4">
                <div class="max-w-md">
                    <span class="subtitle-2 block mb-8">5 formations en 1</span>
                    <h2 class="title-2">Accédez à toutes les formations à un tarif préférentiel</h2>

                    <ul class="my-8 text-gray-500 font-raleway tracking-tight font-xs">
                        <li class="mb-3 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                 viewBox="0 0 140 140" width="14" height="14">
                                <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                    <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <span class="ml-4">Trouver le bon bien</span>
                        </li>
                        <li class="mb-3 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                 viewBox="0 0 140 140" width="14" height="14">
                                <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                    <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <span class="ml-4">Réussir son dossier bancaire</span>
                        </li>
                        <li class="mb-3 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                 viewBox="0 0 140 140" width="14" height="14">
                                <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                    <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <span class="ml-4">Construire la maison de ses rêves</span>
                        </li>
                        <li class="mb-3 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                 viewBox="0 0 140 140" width="14" height="14">
                                <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                    <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <span class="ml-4">La double construction en projet locatif</span>
                        </li>
                        <li class="mb-3 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                 viewBox="0 0 140 140" width="14" height="14">
                                <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                    <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <span class="ml-4">Investir dans un immeuble de rapport</span>
                        </li>

                    </ul>
                    <div class="flex pb-8">
                        <a href="{{ path('pack') }}">
                            <button class="btn-1 text-white bg-pink-600 hover:bg-gray-900">Voir l'offre</button>
                        </a>
                        <span class="inline-flex align-center ml-5 items-center px-2 py-0.5 rounded text-xs font-medium font-raleway bg-pink-100 text-pink-500">

                                <svg class="mr-1.5 w-4 text-pink-500" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                     viewBox="0 0 140 140" width="25" height="25"><g
                                            transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)"><path
                                                d="M23.5,15a3,3,0,0,1,0-6V5.5a1,1,0,0,0-1-1H1.5a1,1,0,0,0-1,1V9a3,3,0,0,1,0,6v3.5a1,1,0,0,0,1,1h21a1,1,0,0,0,1-1Z"
                                                fill="none" stroke="currentColor" stroke-linecap="round"
                                                stroke-linejoin="round"></path><path d="M8 16L16 8" fill="none"
                                                                                     stroke="currentColor"
                                                                                     stroke-linecap="round"
                                                                                     stroke-linejoin="round"></path><path
                                                d="M7.500 9.000 A1.500 1.500 0 1 0 10.500 9.000 A1.500 1.500 0 1 0 7.500 9.000 Z"
                                                fill="none" stroke="currentColor" stroke-linecap="round"
                                                stroke-linejoin="round"></path><path
                                                d="M13.500 15.000 A1.500 1.500 0 1 0 16.500 15.000 A1.500 1.500 0 1 0 13.500 15.000 Z"
                                                fill="none" stroke="currentColor" stroke-linecap="round"
                                                stroke-linejoin="round"></path></g></svg>
                                 30% de réduction
                            </span>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" class="transform mx-auto -rotate-12 flex items- md:w-1/3 lg:w-1/2 max-w-md l px-4">
                <div class="w-1/3 transform translate-y-12">
                    <img class="border-2 border-white transition transform duration-300 hover:scale-150" src="{{ asset('build/images/main/formation-trouver-un-bien-immobilier.webp') }}" alt="">
                </div>
                <div class="w-1/3 transform -translate-y-6">
                    <img  class="border-2 border-white transition transform duration-300 hover:scale-150" src="{{ asset('build/images/main/formation-dossier-bancaire-immo.webp') }}" alt="">
                    <img  class="border-2 border-white transition transform duration-300 hover:scale-150" src="{{ asset('build/images/main/formation-construire-sa-maison.webp') }}" alt="">
                </div>
                <div class="w-1/3 transform translate-y-6">
                    <img  class="border-2 border-white transition transform duration-300 hover:scale-150" src="{{ asset('build/images/main/formation-construction-location.webp') }}" alt="">
                    <img class="border-2 border-white transition transform duration-300 hover:scale-150" src="{{ asset('build/images/main/formation-achat-immeuble.webp') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>